.c-item-image
	width: 420px
	height: 420px
	background-position: center
	background-size: contain
	background-repeat: no-repeat
	background-color: #F8F9FC
	border: 1px solid #E5E8EA

.c-item-slider-wrapper
	width: 100px
	margin-left: 10px

	.c-item-slide
		cursor: pointer
		background-position: center
		background-size: contain
		background-repeat: no-repeat
		height: 88px
		border: 1px solid #E5E8EA
		width: 100px !important

.bx-prev
	display: none !important

.bx-controls-direction
	padding-left: 10px
	height: 40px
	
	.bx-next
		width: 100%
		height: 100%
		display: flex
		align-items: center
		justify-content: center
		color: color('clr-base','base')

		&:hover
			color: black

	i
		font-size: 30px

.c-main-info
	color: color('clr-base', 'darken-1')
	margin-top: -4px
	border-bottom: 1px solid #D8D8D8

.c-main-info-code
	color: black

.c-main-info-date
	color: #6A6A6A
	margin: 12px 0 15px 0
	font-size: 13px

.c-aside-info
	color: #4A4A4A
	font-size: 15px
	padding: 15px 0

.c-aside-info-list
	list-style-type: none
	color: #4A4A4A
	line-height: 1.4em

.c-main-info-wrapper
	padding: 0 100px 0 30px !important
	position: absolute
	overflow: auto
	height: 100%

.c-main-overflow
	position: relative
	width: 100%

.c-info-wrappper
	display: flex
	margin-top: 30px
	position: relative

	.c-popup-close
		top: -25px

.c-items-slide
	// width: 25% !important