*
	margin: 0
	padding: 0
	box-sizing: border-box

$font-path: "../fonts" !default
@font-face
	font-family: 'Roboto'
	src: url('#{$font-path}/Roboto-Regular.woff')
	font-weight: normal
	font-style: normal

body, html, .content-wrapper
	width: 100%
	height: 100%
	font-family: 'Roboto' !important

.content-wrapper
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	background-color: #E5E8EA
	display: flex
	flex-direction: column
	
	&.white
		background-color: #fff

	&.login-bg
		background-image: url(../img/login_bg.jpg)

.container
	width: 80%
	margin: 30px auto

h1
	font-size: 26px

h2
	font-size: 20px

.c-slider-wrapper
	background-color: #F8F9FC
