$n-neg: (-10, -20, -25)
$n-main: (0,5,7,10,15,20,25,30,40,50)
$font-sizes-px: (12,14,16,18,20,26,34)
$colors: ('white','black')
$colors-vars: ('main-gray': #757575, 'dark-gray': #878F9C, 'light-gray': #AFAFAF, 'main': #374555, 'sec': #00D7A0,) 
$numbers: join($n-neg, $n-main)
$bg-colors: ('light-gray': #E3E3E3, 'white': white)

@function to-string($value)
	@return inspect($value)

@function str-replace($string, $search, $replace: '')
	$string: to-string($string)
	$index: str-index($string, $search)
	@if $index
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace)
	@return $string

@each $fs in $font-sizes-px
	.h-font-#{$fs}
		font-size: #{$fs}px

@each $i in $n-neg
	.h-mh-#{$i}
		margin-right: #{$i}px
		margin-left: #{$i}px

	.h-ml-#{$i}
		margin-left: #{$i}px

@each $i in $n-main
	.h-p-#{$i}
		padding: #{$i}px

	.h-pt-#{$i}
		padding-top: #{$i}px

	.h-pb-#{$i}
		padding-bottom: #{$i}px

	.h-pl-#{$i}
		padding-left: #{$i}px

	.h-pr-#{$i}
		padding-right: #{$i}px

	.h-ph-#{$i}
		padding-left: #{$i}px
		padding-right: #{$i}px

	.h-pv-#{$i}
		padding-top: #{$i}px
		padding-bottom: #{$i}px

	.h-m-#{$i}
		margin: #{$i}px

	.h-ml-#{$i}
		margin-left: #{$i}px

	.h-mr-#{$i}
		margin-right: #{$i}px

	.h-mb-#{$i}
		margin-bottom: #{$i}px

	.h-mt-#{$i}
		margin-top: #{$i}px

	.h-mh-#{$i}
		margin-right: #{$i}px
		margin-left: #{$i}px

	.h-mv-#{$i}
		margin-top: #{$i}px
		margin-bottom: #{$i}px

@each $clr in $colors
	.h-#{str-replace(#{$clr}, '$')}
		color: #{$clr}

@each $clr, $value in $colors-vars
	.h-#{$clr}
		color: $value

@each $name, $color in $bg-colors
	.h-bg-#{$name}
		background-color: $color

.h-width-auto
	width: auto !important

.h-hidden-force
	display: none !important

.h-inline-block
	display: inline-block !important

.h-inline
	display: inline !important

.h-font-normal
	font-weight: normal !important

.h-hidden
	display: none

.h-block
	display: block

.h-iblock
	display: inline-block

.h-display-table
	display: table

.h-display-table-row
	display: table-row

.h-display-table-cell
	display: table-cell

.h-float-left
	float: left

.h-float-right
	float: right

.h-overflow-hidden
	overflow: hidden

.h-overflow-inherit-f
	overflow: inherit !important

.h-text-center
	text-align: center

.h-ml-auto
	margin-left: auto

.h-text-right
	text-align: right

.h-text-left
	text-align: left

.h-text-lower
	text-transform: lowercase

.h-italic
	font-style: italic

.h-normal
	font-style: normal

.h-a-underlined
	text-decoration: underline

	&:hover
		text-decoration: none

.h-a-without-underline
	text-decoration: none

.h-list-style-none
	list-style: none

.h-va-top
	vertical-align: top

.h-va-middle
	vertical-align: middle

.h-va-bottom
	vertical-align: bottom

.h-nowrap
	white-space: nowrap

.h-pos-rel
	position: relative

.h-pos-abs
	position: absolute

.h-no-border
	border: none

.h-no-select
	user-select: none

.h-border-radius-3
	border-radius: 3px

.h-border-radius-6
	border-radius: 6px

.h-border-radius-10
	border-radius: 10px

.h-border-radius-12
	border-radius: 12px

.h-border-radius-20
	border-radius: 20px

.n-border-solid-white-1
	border: 1px solid white

.h-pointer
	cursor: pointer

.h-bold
	font-weight: bold

.h-height-100p
	height: 100%

.h-height-50p
	height: 50%

.h-height-1
	height: 1px

.h-square
	&:before
		content: ''
		padding-top: 100%
		display: block

.h-height-0
	height: 0

.h-max-height-100p
	max-height: 100%

.h-width-100p
	width: 100%

.h-widht-300
	width: 300px

.h-widht-160
	width: 160px

.text-shadow
	text-shadow: 0px 2px 13px rgba(0,0,0,0.5)

.h-vflex
	display: flex
	flex-direction: column

.h-hflex
	display: flex
	flex-direction: row

.h-flex
	flex: 1

.h-flex-1-0
	flex: 1 0

.h-flex-1-0-50p
	flex: 1 0 50%

.h-dflex
	display: flex

.h-flex-center
	display: flex
	justify-content: center
	align-items: center

.h-flex-wrap
	flex-wrap: wrap

.h-flex-main-center
	justify-content: center

.h-flex-main-end
	justify-content: flex-end

.h-flex-space-between
	justify-content: space-between

.h-flex-space-around
	justify-content: space-around

.h-flex-cross-center
	align-items: center

.h-flex-cross-end
	align-items: flex-end

.h-flex-dir-column
	flex-direction: column

.h-flex-dir-row-reverse
	flex-direction: row-reverse

.h-flex-align-self-end
	align-self: flex-end

.h-flex-align-self-start
	align-self: flex-start

.h-index-1
	z-index: 1

.h-index-2
	z-index: 2

.h-index-3
	z-index: 3

.h-border-left-solid-1
	border-left: 1px solid lighten($secondary-color, 20%)

.h-border-left-solid-gray-1
	border-left: 1px solid #E0E0E0