$icomoon-font-path: "../fonts" !default

$e_polka-account: "\e900"
$e_polka-alert: "\e901"
$e_polka-settings: "\e902"
$e_polka-accept: "\e903"
$e_polka-analytics: "\e904"
$e_polka-basket: "\e905"
$e_polka-calendar: "\e906"
$e_polka-catalog: "\e907"
$e_polka-export: "\e908"
$e_polka-facebook: "\e909"
$e_polka-help: "\e90a"
$e_polka-import: "\e90b"
$e_polka-info: "\e90c"
$e_polka-instagram: "\e90d"
$e_polka-report: "\e90e"
$e_polka-star: "\e90f"
$e_polka-twitter: "\e910"
$e_polka-search: "\e911"
$e_polka-open-book: "\e912"
$e_polka-delete: "\e913"
$e_polka-close: "\e914"
$e_polka-block: "\e915"
$e_polka-order: "\e916"
$e_polka-car: "\e917"
$e_polka-speaker: "\e918"
$e_polka-arrow-right: "\e919"
$e_polka-arrow-left: "\e920"
$e_polka-arrow-bottom: "\e921"
$e_polka-arrow-top: "\e922"

@font-face
  font-family: 'e_polka'
  src: url('#{$icomoon-font-path}/e_polka.eot') format('embedded-opentype'), url('#{$icomoon-font-path}/e_polka.ttf') format('truetype'), url('#{$icomoon-font-path}/e_polka.woff') format('woff'), url('#{$icomoon-font-path}/e_polka.svg') format('svg')
  font-weight: normal
  font-style: normal

[class^="e_polka-"], [class*=" e_polka-"]
  font-family: 'e_polka' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.e_polka-account 
  &:before 
    content: $e_polka-account

.e_polka-alert 
  &:before 
    content: $e_polka-alert

.e_polka-settings 
  &:before 
    content: $e_polka-settings

.e_polka-accept 
  &:before 
    content: $e_polka-accept

.e_polka-analytics 
  &:before 
    content: $e_polka-analytics

.e_polka-basket 
  &:before 
    content: $e_polka-basket

.e_polka-calendar 
  &:before 
    content: $e_polka-calendar

.e_polka-catalog 
  &:before 
    content: $e_polka-catalog

.e_polka-export 
  &:before 
    content: $e_polka-export

.e_polka-facebook 
  &:before 
    content: $e_polka-facebook

.e_polka-help 
  &:before 
    content: $e_polka-help

.e_polka-import 
  &:before 
    content: $e_polka-import

.e_polka-info 
  &:before 
    content: $e_polka-info

.e_polka-instagram 
  &:before 
    content: $e_polka-instagram

.e_polka-report 
  &:before 
    content: $e_polka-report

.e_polka-star 
  &:before 
    content: $e_polka-star

.e_polka-twitter 
  &:before 
    content: $e_polka-twitter

.e_polka-search 
  &:before 
    content: $e_polka-search

.e_polka-open-book 
  &:before 
    content: $e_polka-open-book

.e_polka-delete 
  &:before 
    content: $e_polka-delete

.e_polka-close 
  &:before 
    content: $e_polka-close

.e_polka-block 
  &:before 
    content: $e_polka-block

.e_polka-order
  &:before
    content: $e_polka-order

.e_polka-car
  &:before
    content: $e_polka-car

.e_polka-speaker
  &:before
    content: $e_polka-speaker

.e_polka-arrow-right
  &:before
    content: $e_polka-arrow-right

.e_polka-arrow-left
  &:before
    content: $e_polka-arrow-left

.e_polka-arrow-top
  &:before
    content: $e_polka-arrow-top

.e_polka-arrow-bottom
  &:before
    content: $e_polka-arrow-bottom
