.c-popup-wrapper
	display: flex
	width: 100%
	height: 100%
	position: fixed
	top: 0
	align-items: center
	justify-content: center
	z-index: 100
	left: -100%
	opacity: 0
	transition: opacity 0.5s

	&:before
		width: 100%
		height: 100%
		position: fixed
		top: 0
		left: 0
		background-color: #fff
		content: ''
		left: -100%
		transition: filter 0.5s
		filter: blur(0px)

	&.active
		left: 0
		opacity: 1

		&:before
			left: 0
			filter: blur(20px)
	
.c-popup
	position: relative
	z-index: 2
	width: 100%
	height: 100%

.c-popup-close
	width: 50px
	height: 50px
	border-radius: 50%
	background-color: color("clr-base", "base")
	position: absolute
	right: 30px
	top: 30px
	transform: rotate(0deg)
	transition: transform 0.3s
	cursor: pointer

	&:hover
		transform: rotate(90deg)

	&:before
		content: ''
		width: 40%
		height: 2px
		background-color: #fff
		transform: rotate(45deg)
		position: absolute
		left: 0
		top: 0
		bottom: 0
		right: 0
		margin: auto

	&:after
		content: ''
		width: 40%
		height: 2px
		background-color: #fff
		transform: rotate(-45deg)
		position: absolute
		left: 0
		top: 0
		bottom: 0
		right: 0
		margin: auto

.c-popup-inner
	width: 720px
	margin: 0 auto
	display: flex
	height: 100%
	align-items: center
	flex-direction: column
	justify-content: center

.c-popup-inner__title
	color: color("clr-sec", "base")
	font-size: 30px
	font-weight: normal
	position: relative
	padding-bottom: 14px
	width: 100%

	.icon
		font-size: 25px
		position: absolute
		left: -44px
		top: 0
		bottom: 0
		margin: auto
		display: flex
		align-items: center
		padding-bottom: 14px

	&:after
		content: ''
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		height: 2px
		background-color: color("gray", "lighten-3")

.c-popup-inner__form
	margin-top: 40px
	width: 100%
	padding-right: 100px
	padding-bottom: 20px
	position: relative

	&:after
		content: ''
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		height: 2px
		background-color: color("gray", "lighten-3")

	.c-popup-inner__form-row
		display: flex
		width: 100%
		margin-bottom: 20px

	.c-popup-inner__form-row_text
		flex: 0 0 180px
		font-size: 16px
		font-weight: bold
		color: color("clr-base", "base")
		padding: 10px 0

	.c-popup-inner__form-row_input
		flex: 1

.c-popup-inner_buttons_wrapper
	display: flex
	width: 100%
	justify-content: flex-end
	padding-top: 20px