<div class="z-depth-2 h-pos-rel h-index-2">
	<ul class="b-tabs js-main-tabs">
		<li class="tab">
			<a class="active">
				<div class="h-dflex h-flex-cross-center">
					<i class="e_polka-order"></i>
					<div class="h-font-14 h-text-left">
						<div class="h-bold">Замовлення</div>
						<div class="h-font-12 h-text-lower">(34 од. 3600грн)</div>
					</div>
				</div>
			</a>
		</li>
		<li class="tab">
			<a href="#">
				<div class="h-dflex h-flex-cross-center">
					<i class="e_polka-car"></i>
					<div class="h-font-14 h-text-left">
						<div class="h-bold">Мої доставки</div>
						<div class="h-font-12 h-text-lower">(+ статуси)</div>
					</div>
				</div>
			</a>
		</li>
		<li class="tab">
			<a href="#">
				<div class="h-dflex h-flex-cross-center">
					<i class="e_polka-analytics"></i>
					<div class="h-font-14 h-text-left">
						<div class="h-bold">Статистика</div>
						<div class="h-bold">Аналитика</div>
					</div>
				</div>
			</a>
		</li>
	</ul>
</div>