<div class="c-popup">
	<div class="c-popup-inner">
		<h2 class="c-popup-inner__title">
			<i class="e_polka-help icon"></i>
			Служба підтримки
		</h2>
		<div class="c-popup-inner__form">
			<div class="c-popup-inner__form-row">
				<div class="c-popup-inner__form-row_text">
					Адреса ТРТ
				</div>
				<div class="mat-select h-width-100p">
					<select class="c-popup-inner__form-row_input select" name="#" id="selected_shop">
						<option disabled selected>Адреса ТРТ</option>
						<option value="1">Адреса 1</option>
						<option value="2">Адреса 2</option>
						<option value="3">Адреса 3</option>
					</select>
				</div>
			</div>
			<div class="c-popup-inner__form-row">
				<div class="c-popup-inner__form-row_text">
					Ваше ім'я
				</div>
				<input class="c-popup-inner__form-row_input inpt"
					   placeholder="Ім'я"
					   maxlength="50">
			</div>
			<div class="c-popup-inner__form-row">
				<div class="c-popup-inner__form-row_text">
					Тип запитаня
				</div>
				<div class="mat-select h-width-100p">
					<select class="c-popup-inner__form-row_input select" name="#" id="selected_shop">
						<option disabled selected>Оберіть питання</option>
						<option value="1">Питання 1</option>
						<option value="2">Питання 2</option>
						<option value="3">Питання 3</option>
					</select>
				</div>
			</div>
			<div class="c-popup-inner__form-row">
				<div class="c-popup-inner__form-row_text">
					Завантажити файл
				</div>
				<div class="file-field">
					<div class="file-path-wrapper">
						<input class="file-path validate inpt" type="text" placeholder="Наприклад скриншот проблеми">
					</div>
					<div class="file-field__icon">
						<input type="file">
						<span class="file-field__icon_wrapper">
							<i class="e_polka-export"></i>
						</span>
					</div>
				</div>
			</div>
			<div class="c-popup-inner__form-row h-mt-50">
				<div class="c-popup-inner__form-row_text">
					Ваш email
				</div>
				<input class="c-popup-inner__form-row_input inpt"
					   type="email"
					   placeholder="Email">
			</div>
			<div class="c-popup-inner__form-row">
				<div class="c-popup-inner__form-row_text">
					Ваше повідомлення
				</div>
				<textarea class="c-popup-inner__form-row_input textarea"
						  placeholder="Додати повідомлення"
						  rows="10"
						  maxlength="3000"
						  cols="20">
				</textarea>
			</div>
		</div>
		<div class="c-popup-inner_buttons_wrapper">
			<button class="waves-effect waves-light btn-large transparent z-depth-3 h-mr-25">
				Відмінити
			</button>
			<button class="waves-effect waves-light btn-large z-depth-3">
				Надіслати
			</button>
		</div>
	</div>
	<div class="c-popup-close js-close-popup" data-id="feedbackPopup"></div>
</div>