<header class="c-header z-depth-2 h-flex-main-end">
	<div class="h-flex-center">
		<div class="h-mr-15 h-widht-160">
			<div class="input-field mat-select h-widht-160 h-pl-10 h-m-0 no-margin">
				<select class="h-width-100p select h-p-0" name="#" id="selected_shop">
					<option value="1">Магазин 1</option>
					<option value="2">Магазин 2</option>
					<option value="3">Магазин 3</option>
				</select>
			</div>
		</div>
		<div class="h-border-left-solid-1 h-pl-30">
			<ul class="h-dflex">
				<li>
					<a href="#">
						<i class="e_polka-alert h-white h-mr-20 h-font-20 h-mt-1"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="e_polka-settings h-white h-mr-20 h-font-20"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="e_polka-account h-white h-font-20"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</header>