<div class="container">
	<div class="h-mh--10 h-pb-30">
		<h2 class="h-mb-20 h-ml-10">Новинки</h2>
		<div class="js-items-slider owl-carousel">
			<div class="c-novelties__item__wrapper js-items-slide c-items-slide">
				<div class="c-novelties__item z-depth-3">
					<div class="c-novelties__img"></div>
					<div class="h-text-center h-ph-10">
						<div class="c-novelties__title">
							Назва товару
						</div>
						<div class="c-novelties__number">
							#4902002428
						</div>
						<div class="c-novelties__info">
							Короткий опис новинки, може бути в данному тексты в два рядки
						</div>
					</div>
					<div class="c-novelties__info__form">
						<div class="h-dflex h-mb-15 h-flex-space-between">
							<div class="c-novelties__info__price">
								150,00грн
							</div>
							<div class="c-number-input">
								<div class="c-number-input__button js-number-input-plus">+</div>
								<input class="c-number-input__input" type="text" value='1'>
								<div class="c-number-input__button js-number-input-minus">–</div>
							</div>
						</div>
						<div>
							<button type="submit" class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовити</button>
						</div>
					</div>
				</div>
			</div>
			<div class="c-novelties__item__wrapper js-items-slide c-items-slide">
				<div class="c-novelties__item z-depth-3">
					<div class="c-novelties__img"></div>
					<div class="h-text-center h-ph-10">
						<div class="c-novelties__title">
							Назва товару
						</div>
						<div class="c-novelties__number">
							#4902002428
						</div>
						<div class="c-novelties__info">
							Короткий опис новинки, може бути в данному тексты в два рядки
						</div>
					</div>
					<div class="c-novelties__info__form">
						<div class="h-dflex h-mb-15 h-flex-space-between">
							<div class="c-novelties__info__price">
								150,00грн
							</div>
							<div class="c-number-input">
								<div class="c-number-input__button js-number-input-plus">+</div>
								<input class="c-number-input__input" type="text" value='1'>
								<div class="c-number-input__button js-number-input-minus">–</div>
							</div>
						</div>
						<div>
							<button type="submit" class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовити</button>
						</div>
					</div>
				</div>
			</div>
			<div class="c-novelties__item__wrapper js-items-slide c-items-slide">
				<div class="c-novelties__item z-depth-3">
					<div class="c-novelties__img"></div>
					<div class="h-text-center h-ph-10">
						<div class="c-novelties__title">
							Назва товару
						</div>
						<div class="c-novelties__number">
							#4902002428
						</div>
						<div class="c-novelties__info">
							Короткий опис новинки, може бути в данному тексты в два рядки
						</div>
					</div>
					<div class="c-novelties__info__form">
						<div class="h-dflex h-mb-15 h-flex-space-between">
							<div class="c-novelties__info__price">
								150,00грн
							</div>
							<div class="c-number-input">
								<div class="c-number-input__button js-number-input-plus">+</div>
								<input class="c-number-input__input" type="text" value='1'>
								<div class="c-number-input__button js-number-input-minus">–</div>
							</div>
						</div>
						<div>
							<button type="submit" class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовити</button>
						</div>
					</div>
				</div>
			</div>
			<div class="c-novelties__item__wrapper js-items-slide c-items-slide">
				<div class="c-novelties__item z-depth-3">
					<div class="c-novelties__img"></div>
					<div class="h-text-center h-ph-10">
						<div class="c-novelties__title">
							Назва товару
						</div>
						<div class="c-novelties__number">
							#4902002428
						</div>
						<div class="c-novelties__info">
							Короткий опис новинки, може бути в данному тексты в два рядки
						</div>
					</div>
					<div class="c-novelties__info__form">
						<div class="h-dflex h-mb-15 h-flex-space-between">
							<div class="c-novelties__info__price">
								150,00грн
							</div>
							<div class="c-number-input">
								<div class="c-number-input__button js-number-input-plus">+</div>
								<input class="c-number-input__input" type="text" value='1'>
								<div class="c-number-input__button js-number-input-minus">–</div>
							</div>
						</div>
						<div>
							<button type="submit" class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовити</button>
						</div>
					</div>
				</div>
			</div>
			<div class="c-novelties__item__wrapper js-items-slide c-items-slide">
				<div class="c-novelties__item z-depth-3">
					<div class="c-novelties__img"></div>
					<div class="h-text-center h-ph-10">
						<div class="c-novelties__title">
							Назва товару
						</div>
						<div class="c-novelties__number">
							#4902002428
						</div>
						<div class="c-novelties__info">
							Короткий опис новинки, може бути в данному тексты в два рядки
						</div>
					</div>
					<div class="c-novelties__info__form">
						<div class="h-dflex h-mb-15 h-flex-space-between">
							<div class="c-novelties__info__price">
								150,00грн
							</div>
							<div class="c-number-input">
								<div class="c-number-input__button js-number-input-plus">+</div>
								<input class="c-number-input__input" type="text" value='1'>
								<div class="c-number-input__button js-number-input-minus">–</div>
							</div>
						</div>
						<div>
							<button type="submit" class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовити</button>
						</div>
					</div>
				</div>
			</div>
			<div class="c-novelties__item__wrapper js-items-slide c-items-slide">
				<div class="c-novelties__item z-depth-3">
					<div class="c-novelties__img"></div>
					<div class="h-text-center h-ph-10">
						<div class="c-novelties__title">
							Назва товару
						</div>
						<div class="c-novelties__number">
							#4902002428
						</div>
						<div class="c-novelties__info">
							Короткий опис новинки, може бути в данному тексты в два рядки
						</div>
					</div>
					<div class="c-novelties__info__form">
						<div class="h-dflex h-mb-15 h-flex-space-between">
							<div class="c-novelties__info__price">
								150,00грн
							</div>
							<div class="c-number-input">
								<div class="c-number-input__button js-number-input-plus">+</div>
								<input class="c-number-input__input" type="text" value='1'>
								<div class="c-number-input__button js-number-input-minus">–</div>
							</div>
						</div>
						<div>
							<button type="submit" class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовити</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>