<ul class="c-fixed-nav__ul">
	<li>
		<a href="/">
			Головна
		</a>
	</li>
	<li>
		<a href="delivery.html">
			Оплата і доставка
		</a>
	</li>
	<li>
		<a href="#">
			Правила і робота з доставкою
		</a>
	</li>
	<li>
		<a href="#">
			Фінансові забов'язання
		</a>
	</li>
	<li>
		<a href="#">
			Контакти
		</a>
	</li>
	<li>
		<a class="js-open-popup" data-id="feedbackPopup">
			Служба підтримки
		</a>
	</li>
</ul>
