<div>
	<form class="h-dflex" action="">
		<input class="no-border h-width-100p z-depth-2 inpt inpt-big h-mb-20" type="text" placeholder="Введіть назву або штрихкод">
		<a href="order.html" type="submit" class="waves-effect waves-light btn-medium z-depth-2">
			<i class="e_polka-search"></i>
		</a>
	</form>
</div>
<div id="secondary-1" class="c-order-table">
	<div class="z-depth-2 c-order-table__inner">
		<div class="c-order-table__head">
			<div class="c-order-table__head-item">
				#
			</div>
			<div class="c-order-table__head-item">
				Штрих Код
			</div>
			<div class="c-order-table__head-item">
				Найменування
			</div>
			<div class="c-order-table__head-item">
				Категорія
			</div>
			<div class="c-order-table__head-item">
				Бренд
			</div>
			<div class="c-order-table__head-item">
				Виробник
			</div>
			<div class="c-order-table__head-item">
				Юніт
			</div>
			<div class="c-order-table__head-item">
				Наявність
			</div>
			<div class="c-order-table__head-item">
				Заказ
			</div>
			<div class="c-order-table__head-item">
				Вартість
			</div>
			<div class="c-order-table__head-item">
				Вартість з НДС
			</div>
		</div>
		<div class="h-pos-rel h-flex">
			<div class="tabs-overflow js-scrollbar scrollbar-inner h-width-100p">
				<div class="c-order-table__body">
					<div class="c-order-table__body-item">
						23
						<img src="img/item.png" alt="some_alt">
					</div>
					<div class="c-order-table__body-item">
						#4902002428
					</div>
					<div class="c-order-table__body-item">
						Назва товару
					</div>
					<div class="c-order-table__body-item">
						Алкоголь
					</div>
					<div class="c-order-table__body-item">
						Martini
					</div>
					<div class="c-order-table__body-item">
						Martini co
					</div>
					<div class="c-order-table__body-item">
						Пляшка
					</div>
					<div class="c-order-table__body-item">
						2800
					</div>
					<div class="c-order-table__body-item">
						<div class="c-order-table__inpt-wrapper">
							<input type="text" class="inpt" value='120'>
							<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
						</div>
					</div>
					<div class="c-order-table__body-item">
						800
					</div>
					<div class="c-order-table__body-item">
						960
					</div>
				</div>
				<div class="c-order-table__body">
					<div class="c-order-table__body-item">
						23
						<img src="img/item.png" alt="some_alt">
					</div>
					<div class="c-order-table__body-item">
						#4902002428
					</div>
					<div class="c-order-table__body-item">
						Назва товару
					</div>
					<div class="c-order-table__body-item">
						Алкоголь
					</div>
					<div class="c-order-table__body-item">
						Martini
					</div>
					<div class="c-order-table__body-item">
						Martini co
					</div>
					<div class="c-order-table__body-item">
						Пляшка
					</div>
					<div class="c-order-table__body-item">
						2800
					</div>
					<div class="c-order-table__body-item">
						<div class="c-order-table__inpt-wrapper">
							<input type="text" class="inpt" value='120'>
							<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
						</div>
					</div>
					<div class="c-order-table__body-item">
						800
					</div>
					<div class="c-order-table__body-item">
						960
					</div>
				</div>
				<div class="c-order-table__body">
					<div class="c-order-table__body-item">
						23
						<img src="img/item.png" alt="some_alt">
					</div>
					<div class="c-order-table__body-item">
						#4902002428
					</div>
					<div class="c-order-table__body-item">
						Назва товару
					</div>
					<div class="c-order-table__body-item">
						Алкоголь
					</div>
					<div class="c-order-table__body-item">
						Martini
					</div>
					<div class="c-order-table__body-item">
						Martini co
					</div>
					<div class="c-order-table__body-item">
						Пляшка
					</div>
					<div class="c-order-table__body-item">
						2800
					</div>
					<div class="c-order-table__body-item">
						<div class="c-order-table__inpt-wrapper">
							<input type="text" class="inpt" value='120'>
							<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
						</div>
					</div>
					<div class="c-order-table__body-item">
						800
					</div>
					<div class="c-order-table__body-item">
						960
					</div>
				</div>
				<div class="c-order-table__body">
					<div class="c-order-table__body-item">
						23
						<img src="img/item.png" alt="some_alt">
					</div>
					<div class="c-order-table__body-item">
						#4902002428
					</div>
					<div class="c-order-table__body-item">
						Назва товару
					</div>
					<div class="c-order-table__body-item">
						Алкоголь
					</div>
					<div class="c-order-table__body-item">
						Martini
					</div>
					<div class="c-order-table__body-item">
						Martini co
					</div>
					<div class="c-order-table__body-item">
						Пляшка
					</div>
					<div class="c-order-table__body-item">
						2800
					</div>
					<div class="c-order-table__body-item">
						<div class="c-order-table__inpt-wrapper">
							<input type="text" class="inpt" value='120'>
							<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
						</div>
					</div>
					<div class="c-order-table__body-item">
						800
					</div>
					<div class="c-order-table__body-item">
						960
					</div>
				</div>
				<div class="c-order-table__body">
					<div class="c-order-table__body-item">
						23
						<img src="img/item.png" alt="some_alt">
					</div>
					<div class="c-order-table__body-item">
						#4902002428
					</div>
					<div class="c-order-table__body-item">
						Назва товару
					</div>
					<div class="c-order-table__body-item">
						Алкоголь
					</div>
					<div class="c-order-table__body-item">
						Martini
					</div>
					<div class="c-order-table__body-item">
						Martini co
					</div>
					<div class="c-order-table__body-item">
						Пляшка
					</div>
					<div class="c-order-table__body-item">
						2800
					</div>
					<div class="c-order-table__body-item">
						<div class="c-order-table__inpt-wrapper">
							<input type="text" class="inpt" value='120'>
							<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
						</div>
					</div>
					<div class="c-order-table__body-item">
						800
					</div>
					<div class="c-order-table__body-item">
						960
					</div>
				</div>
				<div class="c-order-table__body">
					<div class="c-order-table__body-item">
						23
						<img src="img/item.png" alt="some_alt">
					</div>
					<div class="c-order-table__body-item">
						#4902002428
					</div>
					<div class="c-order-table__body-item">
						Назва товару
					</div>
					<div class="c-order-table__body-item">
						Алкоголь
					</div>
					<div class="c-order-table__body-item">
						Martini
					</div>
					<div class="c-order-table__body-item">
						Martini co
					</div>
					<div class="c-order-table__body-item">
						Пляшка
					</div>
					<div class="c-order-table__body-item">
						2800
					</div>
					<div class="c-order-table__body-item">
						<div class="c-order-table__inpt-wrapper">
							<input type="text" class="inpt" value='120'>
							<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
						</div>
					</div>
					<div class="c-order-table__body-item">
						800
					</div>
					<div class="c-order-table__body-item">
						960
					</div>
				</div>
				<div class="c-order-table__body">
					<div class="c-order-table__body-item">
						23
						<img src="img/item.png" alt="some_alt">
					</div>
					<div class="c-order-table__body-item">
						#4902002428
					</div>
					<div class="c-order-table__body-item">
						Назва товару
					</div>
					<div class="c-order-table__body-item">
						Алкоголь
					</div>
					<div class="c-order-table__body-item">
						Martini
					</div>
					<div class="c-order-table__body-item">
						Martini co
					</div>
					<div class="c-order-table__body-item">
						Пляшка
					</div>
					<div class="c-order-table__body-item">
						2800
					</div>
					<div class="c-order-table__body-item">
						<div class="c-order-table__inpt-wrapper">
							<input type="text" class="inpt" value='120'>
							<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
						</div>
					</div>
					<div class="c-order-table__body-item">
						800
					</div>
					<div class="c-order-table__body-item">
						960
					</div>
				</div>
				<div class="c-order-table__body">
					<div class="c-order-table__body-item">
						23
						<img src="img/item.png" alt="some_alt">
					</div>
					<div class="c-order-table__body-item">
						#4902002428
					</div>
					<div class="c-order-table__body-item">
						Назва товару
					</div>
					<div class="c-order-table__body-item">
						Алкоголь
					</div>
					<div class="c-order-table__body-item">
						Martini
					</div>
					<div class="c-order-table__body-item">
						Martini co
					</div>
					<div class="c-order-table__body-item">
						Пляшка
					</div>
					<div class="c-order-table__body-item">
						2800
					</div>
					<div class="c-order-table__body-item">
						<div class="c-order-table__inpt-wrapper">
							<input type="text" class="inpt" value='120'>
							<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
						</div>
					</div>
					<div class="c-order-table__body-item">
						800
					</div>
					<div class="c-order-table__body-item">
						960
					</div>
				</div>
				<div class="c-order-table__body">
					<div class="c-order-table__body-item">
						23
						<img src="img/item.png" alt="some_alt">
					</div>
					<div class="c-order-table__body-item">
						#4902002428
					</div>
					<div class="c-order-table__body-item">
						Назва товару
					</div>
					<div class="c-order-table__body-item">
						Алкоголь
					</div>
					<div class="c-order-table__body-item">
						Martini
					</div>
					<div class="c-order-table__body-item">
						Martini co
					</div>
					<div class="c-order-table__body-item">
						Пляшка
					</div>
					<div class="c-order-table__body-item">
						2800
					</div>
					<div class="c-order-table__body-item">
						<div class="c-order-table__inpt-wrapper">
							<input type="text" class="inpt" value='120'>
							<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
						</div>
					</div>
					<div class="c-order-table__body-item">
						800
					</div>
					<div class="c-order-table__body-item">
						960
					</div>
				</div>
				<div class="c-order-table__body">
					<div class="c-order-table__body-item">
						23
						<img src="img/item.png" alt="some_alt">
					</div>
					<div class="c-order-table__body-item">
						#4902002428
					</div>
					<div class="c-order-table__body-item">
						Назва товару
					</div>
					<div class="c-order-table__body-item">
						Алкоголь
					</div>
					<div class="c-order-table__body-item">
						Martini
					</div>
					<div class="c-order-table__body-item">
						Martini co
					</div>
					<div class="c-order-table__body-item">
						Пляшка
					</div>
					<div class="c-order-table__body-item">
						2800
					</div>
					<div class="c-order-table__body-item">
						<div class="c-order-table__inpt-wrapper">
							<input type="text" class="inpt" value='120'>
							<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
						</div>
					</div>
					<div class="c-order-table__body-item">
						800
					</div>
					<div class="c-order-table__body-item">
						960
					</div>
				</div>
				<div class="c-order-table__body">
					<div class="c-order-table__body-item">
						23
						<img src="img/item.png" alt="some_alt">
					</div>
					<div class="c-order-table__body-item">
						#4902002428
					</div>
					<div class="c-order-table__body-item">
						Назва товару
					</div>
					<div class="c-order-table__body-item">
						Алкоголь
					</div>
					<div class="c-order-table__body-item">
						Martini
					</div>
					<div class="c-order-table__body-item">
						Martini co
					</div>
					<div class="c-order-table__body-item">
						Пляшка
					</div>
					<div class="c-order-table__body-item">
						2800
					</div>
					<div class="c-order-table__body-item">
						<div class="c-order-table__inpt-wrapper">
							<input type="text" class="inpt" value='120'>
							<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
						</div>
					</div>
					<div class="c-order-table__body-item">
						800
					</div>
					<div class="c-order-table__body-item">
						960
					</div>
				</div>
				<div class="c-order-table__body">
					<div class="c-order-table__body-item">
						23
						<img src="img/item.png" alt="some_alt">
					</div>
					<div class="c-order-table__body-item">
						#4902002428
					</div>
					<div class="c-order-table__body-item">
						Назва товару
					</div>
					<div class="c-order-table__body-item">
						Алкоголь
					</div>
					<div class="c-order-table__body-item">
						Martini
					</div>
					<div class="c-order-table__body-item">
						Martini co
					</div>
					<div class="c-order-table__body-item">
						Пляшка
					</div>
					<div class="c-order-table__body-item">
						2800
					</div>
					<div class="c-order-table__body-item">
						<div class="c-order-table__inpt-wrapper">
							<input type="text" class="inpt" value='120'>
							<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
						</div>
					</div>
					<div class="c-order-table__body-item">
						800
					</div>
					<div class="c-order-table__body-item">
						960
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="c-order-bottom-panel h-bg-white">
		<div>
			<ul class="c-order-bottom-panel__download-block">
				<li class="h-mr-10">
					<a href="#">
						<i class="e_polka-export"></i>
						<div>
							Експорт <br>в Excel
						</div>
					</a>
				</li>
				<li class="h-mr-10">
					<a href="#">
						<i class="e_polka-import"></i>
						<div>
							Имопрт<br>в Excel
						</div>
					</a>
				</li>
				<li class="h-mr-10">
					<a href="#">
						<i class="e_polka-info"></i>
						<div>
							Рекомендоване<br>замовлення
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="h-gray-color">
			<div class="h-dflex h-flex-space-between h-flex-cross-center">
				<div class="h-mr-40">
					Доставка на дату:
				</div>
				<div class="c-order-bottom-panel__datepicker">
					<i class="e_polka-calendar"></i>
					<input type="date" class="datepicker inpt">
				</div>
			</div>
			<div class="h-dflex h-flex-main-end h-flex-cross-center h-mv-15">
				<div class="h-mr-15">
					Загальна сумма:
				</div>
				<div class="h-green-color h-font-26">
					24 000.00 ГРН
				</div>
			</div>
			<div class="c-order-bottom-panel__buttons">
				<button class="waves-effect waves-light btn-large transparent z-depth-3 h-mr-15">Очистити</button>
				<button class="waves-effect waves-light btn-large z-depth-3">Отримати замовлення</button>
			</div>
		</div>
	</div>
</div>
<div id="secondary-2" class="c-order-table">
	<div class="h-pos-rel h-flex h-ml--20">
		<div class="tabs-overflow js-scrollbar scrollbar-inner h-width-100p">
			<div class="c-stock__wrapper">
				<div class="c-stock__item__wrapper">
					<div class="c-stock__item z-depth-3">
						<div class="c-stock__item__head">
							<div class="c-stock__item__stock">
								<div class="h-font-34">
									45%
								</div>
								<div class="h-font-16">
									Знижка
								</div>
								<div class="h-font-12 h-mt-5">
									До 10 травня
								</div>
							</div>
							<div class="c-stock__item__image"></div>
						</div>
						<div class="c-stock__item__body">
							<div class="c-stock__item__title">
								Коротка назва Акації
							</div>
							<div class="c-stock__item__aside">
								Короткий опис новинки, може бути в данному тексті в два рядки
							</div>
							<div class="c-stock__item__time">
								Ліміт до 6год.
							</div>
						</div>
						<div class="h-p-10">
							<button class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовлення</button>
						</div>
					</div>
				</div>
				<div class="c-stock__item__wrapper">
					<div class="c-stock__item z-depth-3">
						<div class="c-stock__item__head">
							<div class="c-stock__item__stock">
								<div class="h-font-34">
									45%
								</div>
								<div class="h-font-16">
									Знижка
								</div>
								<div class="h-font-12 h-mt-5">
									До 10 травня
								</div>
							</div>
							<div class="c-stock__item__image"></div>
						</div>
						<div class="c-stock__item__body">
							<div class="c-stock__item__title">
								Коротка назва Акації
							</div>
							<div class="c-stock__item__aside">
								Короткий опис новинки, може бути в данному тексті в два рядки
							</div>
							<div class="c-stock__item__time">
								Ліміт до 6год.
							</div>
						</div>
						<div class="h-p-10">
							<button class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовлення</button>
						</div>
					</div>
				</div>
				<div class="c-stock__item__wrapper">
					<div class="c-stock__item z-depth-3">
						<div class="c-stock__item__head">
							<div class="c-stock__item__stock">
								<div class="h-font-34">
									45%
								</div>
								<div class="h-font-16">
									Знижка
								</div>
								<div class="h-font-12 h-mt-5">
									До 10 травня
								</div>
							</div>
							<div class="c-stock__item__image"></div>
						</div>
						<div class="c-stock__item__body">
							<div class="c-stock__item__title">
								Коротка назва Акації
							</div>
							<div class="c-stock__item__aside">
								Короткий опис новинки, може бути в данному тексті в два рядки
							</div>
							<div class="c-stock__item__time">
								Ліміт до 6год.
							</div>
						</div>
						<div class="h-p-10">
							<button class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовлення</button>
						</div>
					</div>
				</div>
				<div class="c-stock__item__wrapper">
					<div class="c-stock__item z-depth-3">
						<div class="c-stock__item__head">
							<div class="c-stock__item__stock">
								<div class="h-font-34">
									45%
								</div>
								<div class="h-font-16">
									Знижка
								</div>
								<div class="h-font-12 h-mt-5">
									До 10 травня
								</div>
							</div>
							<div class="c-stock__item__image"></div>
						</div>
						<div class="c-stock__item__body">
							<div class="c-stock__item__title">
								Коротка назва Акації
							</div>
							<div class="c-stock__item__aside">
								Короткий опис новинки, може бути в данному тексті в два рядки
							</div>
							<div class="c-stock__item__time">
								Ліміт до 6год.
							</div>
						</div>
						<div class="h-p-10">
							<button class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовлення</button>
						</div>
					</div>
				</div>
				<div class="c-stock__item__wrapper">
					<div class="c-stock__item z-depth-3">
						<div class="c-stock__item__head">
							<div class="c-stock__item__stock">
								<div class="h-font-34">
									45%
								</div>
								<div class="h-font-16">
									Знижка
								</div>
								<div class="h-font-12 h-mt-5">
									До 10 травня
								</div>
							</div>
							<div class="c-stock__item__image"></div>
						</div>
						<div class="c-stock__item__body">
							<div class="c-stock__item__title">
								Коротка назва Акації
							</div>
							<div class="c-stock__item__aside">
								Короткий опис новинки, може бути в данному тексті в два рядки
							</div>
							<div class="c-stock__item__time">
								Ліміт до 6год.
							</div>
						</div>
						<div class="h-p-10">
							<button class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовлення</button>
						</div>
					</div>
				</div>
				<div class="c-stock__item__wrapper">
					<div class="c-stock__item z-depth-3">
						<div class="c-stock__item__head">
							<div class="c-stock__item__stock">
								<div class="h-font-34">
									45%
								</div>
								<div class="h-font-16">
									Знижка
								</div>
								<div class="h-font-12 h-mt-5">
									До 10 травня
								</div>
							</div>
							<div class="c-stock__item__image"></div>
						</div>
						<div class="c-stock__item__body">
							<div class="c-stock__item__title">
								Коротка назва Акації
							</div>
							<div class="c-stock__item__aside">
								Короткий опис новинки, може бути в данному тексті в два рядки
							</div>
							<div class="c-stock__item__time">
								Ліміт до 6год.
							</div>
						</div>
						<div class="h-p-10">
							<button class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовлення</button>
						</div>
					</div>
				</div>
				<div class="c-stock__item__wrapper">
					<div class="c-stock__item z-depth-3">
						<div class="c-stock__item__head">
							<div class="c-stock__item__stock">
								<div class="h-font-34">
									45%
								</div>
								<div class="h-font-16">
									Знижка
								</div>
								<div class="h-font-12 h-mt-5">
									До 10 травня
								</div>
							</div>
							<div class="c-stock__item__image"></div>
						</div>
						<div class="c-stock__item__body">
							<div class="c-stock__item__title">
								Коротка назва Акації
							</div>
							<div class="c-stock__item__aside">
								Короткий опис новинки, може бути в данному тексті в два рядки
							</div>
							<div class="c-stock__item__time">
								Ліміт до 6год.
							</div>
						</div>
						<div class="h-p-10">
							<button class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовлення</button>
						</div>
					</div>
				</div>
				<div class="c-stock__item__wrapper">
					<div class="c-stock__item z-depth-3">
						<div class="c-stock__item__head">
							<div class="c-stock__item__stock">
								<div class="h-font-34">
									45%
								</div>
								<div class="h-font-16">
									Знижка
								</div>
								<div class="h-font-12 h-mt-5">
									До 10 травня
								</div>
							</div>
							<div class="c-stock__item__image"></div>
						</div>
						<div class="c-stock__item__body">
							<div class="c-stock__item__title">
								Коротка назва Акації
							</div>
							<div class="c-stock__item__aside">
								Короткий опис новинки, може бути в данному тексті в два рядки
							</div>
							<div class="c-stock__item__time">
								Ліміт до 6год.
							</div>
						</div>
						<div class="h-p-10">
							<button class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовлення</button>
						</div>
					</div>
				</div>
				<div class="c-stock__item__wrapper">
					<div class="c-stock__item z-depth-3">
						<div class="c-stock__item__head">
							<div class="c-stock__item__stock">
								<div class="h-font-34">
									45%
								</div>
								<div class="h-font-16">
									Знижка
								</div>
								<div class="h-font-12 h-mt-5">
									До 10 травня
								</div>
							</div>
							<div class="c-stock__item__image"></div>
						</div>
						<div class="c-stock__item__body">
							<div class="c-stock__item__title">
								Коротка назва Акації
							</div>
							<div class="c-stock__item__aside">
								Короткий опис новинки, може бути в данному тексті в два рядки
							</div>
							<div class="c-stock__item__time">
								Ліміт до 6год.
							</div>
						</div>
						<div class="h-p-10">
							<button class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовлення</button>
						</div>
					</div>
				</div>
				<div class="c-stock__item__wrapper">
					<div class="c-stock__item z-depth-3">
						<div class="c-stock__item__head">
							<div class="c-stock__item__stock">
								<div class="h-font-34">
									45%
								</div>
								<div class="h-font-16">
									Знижка
								</div>
								<div class="h-font-12 h-mt-5">
									До 10 травня
								</div>
							</div>
							<div class="c-stock__item__image"></div>
						</div>
						<div class="c-stock__item__body">
							<div class="c-stock__item__title">
								Коротка назва Акації
							</div>
							<div class="c-stock__item__aside">
								Короткий опис новинки, може бути в данному тексті в два рядки
							</div>
							<div class="c-stock__item__time">
								Ліміт до 6год.
							</div>
						</div>
						<div class="h-p-10">
							<button class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовлення</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="secondary-3" class="c-order-table">
	<div class="h-pos-rel h-flex h-ml--20">
		<div class="tabs-overflow js-scrollbar scrollbar-inner h-width-100p">
			<div class="c-novelties__wrapper">
				<div class="c-novelties__item__wrapper">
					<div class="c-novelties__item z-depth-3">
						<div class="c-novelties__img"></div>
						<div class="h-text-center h-ph-10">
							<div class="c-novelties__title">
								Назва товару
							</div>
							<div class="c-novelties__number">
								#4902002428
							</div>
							<div class="c-novelties__info">
								Короткий опис новинки, може бути в данному тексты в два рядки
							</div>
						</div>
						<div class="c-novelties__info__form">
							<div class="h-dflex h-mb-15 h-flex-space-between">
								<div class="c-novelties__info__price">
									150,00грн
								</div>
								<div class="c-number-input">
									<div class="c-number-input__button js-number-input-plus">+</div>
									<input class="c-number-input__input" type="text" value='1'>
									<div class="c-number-input__button js-number-input-minus">–</div>
								</div>
							</div>
							<div>
								<button type="submit" class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовити</button>
							</div>
						</div>
					</div>
				</div>
				<div class="c-novelties__item__wrapper">
					<div class="c-novelties__item z-depth-3">
						<div class="c-novelties__img"></div>
						<div class="h-text-center h-ph-10">
							<div class="c-novelties__title">
								Назва товару
							</div>
							<div class="c-novelties__number">
								#4902002428
							</div>
							<div class="c-novelties__info">
								Короткий опис новинки, може бути в данному тексты в два рядки
							</div>
						</div>
						<div class="c-novelties__info__form">
							<div class="h-dflex h-mb-15 h-flex-space-between">
								<div class="c-novelties__info__price">
									150,00грн
								</div>
								<div class="c-number-input">
									<div class="c-number-input__button js-number-input-plus">+</div>
									<input class="c-number-input__input" type="text" value='1'>
									<div class="c-number-input__button js-number-input-minus">–</div>
								</div>
							</div>
							<div>
								<button type="submit" class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовити</button>
							</div>
						</div>
					</div>
				</div>
				<div class="c-novelties__item__wrapper">
					<div class="c-novelties__item z-depth-3">
						<div class="c-novelties__img"></div>
						<div class="h-text-center h-ph-10">
							<div class="c-novelties__title">
								Назва товару
							</div>
							<div class="c-novelties__number">
								#4902002428
							</div>
							<div class="c-novelties__info">
								Короткий опис новинки, може бути в данному тексты в два рядки
							</div>
						</div>
						<div class="c-novelties__info__form">
							<div class="h-dflex h-mb-15 h-flex-space-between">
								<div class="c-novelties__info__price">
									150,00грн
								</div>
								<div class="c-number-input">
									<div class="c-number-input__button js-number-input-plus">+</div>
									<input class="c-number-input__input" type="text" value='1'>
									<div class="c-number-input__button js-number-input-minus">–</div>
								</div>
							</div>
							<div>
								<button type="submit" class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовити</button>
							</div>
						</div>
					</div>
				</div>
				<div class="c-novelties__item__wrapper">
					<div class="c-novelties__item z-depth-3">
						<div class="c-novelties__img"></div>
						<div class="h-text-center h-ph-10">
							<div class="c-novelties__title">
								Назва товару
							</div>
							<div class="c-novelties__number">
								#4902002428
							</div>
							<div class="c-novelties__info">
								Короткий опис новинки, може бути в данному тексты в два рядки
							</div>
						</div>
						<div class="c-novelties__info__form">
							<div class="h-dflex h-mb-15 h-flex-space-between">
								<div class="c-novelties__info__price">
									150,00грн
								</div>
								<div class="c-number-input">
									<div class="c-number-input__button js-number-input-plus">+</div>
									<input class="c-number-input__input" type="text" value='1'>
									<div class="c-number-input__button js-number-input-minus">–</div>
								</div>
							</div>
							<div>
								<button type="submit" class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовити</button>
							</div>
						</div>
					</div>
				</div>
				<div class="c-novelties__item__wrapper">
					<div class="c-novelties__item z-depth-3">
						<div class="c-novelties__img"></div>
						<div class="h-text-center h-ph-10">
							<div class="c-novelties__title">
								Назва товару
							</div>
							<div class="c-novelties__number">
								#4902002428
							</div>
							<div class="c-novelties__info">
								Короткий опис новинки, може бути в данному тексты в два рядки
							</div>
						</div>
						<div class="c-novelties__info__form">
							<div class="h-dflex h-mb-15 h-flex-space-between">
								<div class="c-novelties__info__price">
									150,00грн
								</div>
								<div class="c-number-input">
									<div class="c-number-input__button js-number-input-plus">+</div>
									<input class="c-number-input__input" type="text" value='1'>
									<div class="c-number-input__button js-number-input-minus">–</div>
								</div>
							</div>
							<div>
								<button type="submit" class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовити</button>
							</div>
						</div>
					</div>
				</div>
				<div class="c-novelties__item__wrapper">
					<div class="c-novelties__item z-depth-3">
						<div class="c-novelties__img"></div>
						<div class="h-text-center h-ph-10">
							<div class="c-novelties__title">
								Назва товару
							</div>
							<div class="c-novelties__number">
								#4902002428
							</div>
							<div class="c-novelties__info">
								Короткий опис новинки, може бути в данному тексты в два рядки
							</div>
						</div>
						<div class="c-novelties__info__form">
							<div class="h-dflex h-mb-15 h-flex-space-between">
								<div class="c-novelties__info__price">
									150,00грн
								</div>
								<div class="c-number-input">
									<div class="c-number-input__button js-number-input-plus">+</div>
									<input class="c-number-input__input" type="text" value='1'>
									<div class="c-number-input__button js-number-input-minus">–</div>
								</div>
							</div>
							<div>
								<button type="submit" class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовити</button>
							</div>
						</div>
					</div>
				</div>
				<div class="c-novelties__item__wrapper">
					<div class="c-novelties__item z-depth-3">
						<div class="c-novelties__img"></div>
						<div class="h-text-center h-ph-10">
							<div class="c-novelties__title">
								Назва товару
							</div>
							<div class="c-novelties__number">
								#4902002428
							</div>
							<div class="c-novelties__info">
								Короткий опис новинки, може бути в данному тексты в два рядки
							</div>
						</div>
						<div class="c-novelties__info__form">
							<div class="h-dflex h-mb-15 h-flex-space-between">
								<div class="c-novelties__info__price">
									150,00грн
								</div>
								<div class="c-number-input">
									<div class="c-number-input__button js-number-input-plus">+</div>
									<input class="c-number-input__input" type="text" value='1'>
									<div class="c-number-input__button js-number-input-minus">–</div>
								</div>
							</div>
							<div>
								<button type="submit" class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовити</button>
							</div>
						</div>
					</div>
				</div>
				<div class="c-novelties__item__wrapper">
					<div class="c-novelties__item z-depth-3">
						<div class="c-novelties__img"></div>
						<div class="h-text-center h-ph-10">
							<div class="c-novelties__title">
								Назва товару
							</div>
							<div class="c-novelties__number">
								#4902002428
							</div>
							<div class="c-novelties__info">
								Короткий опис новинки, може бути в данному тексты в два рядки
							</div>
						</div>
						<div class="c-novelties__info__form">
							<div class="h-dflex h-mb-15 h-flex-space-between">
								<div class="c-novelties__info__price">
									150,00грн
								</div>
								<div class="c-number-input">
									<div class="c-number-input__button js-number-input-plus">+</div>
									<input class="c-number-input__input" type="text" value='1'>
									<div class="c-number-input__button js-number-input-minus">–</div>
								</div>
							</div>
							<div>
								<button type="submit" class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовити</button>
							</div>
						</div>
					</div>
				</div>
				<div class="c-novelties__item__wrapper">
					<div class="c-novelties__item z-depth-3">
						<div class="c-novelties__img"></div>
						<div class="h-text-center h-ph-10">
							<div class="c-novelties__title">
								Назва товару
							</div>
							<div class="c-novelties__number">
								#4902002428
							</div>
							<div class="c-novelties__info">
								Короткий опис новинки, може бути в данному тексты в два рядки
							</div>
						</div>
						<div class="c-novelties__info__form">
							<div class="h-dflex h-mb-15 h-flex-space-between">
								<div class="c-novelties__info__price">
									150,00грн
								</div>
								<div class="c-number-input">
									<div class="c-number-input__button js-number-input-plus">+</div>
									<input class="c-number-input__input" type="text" value='1'>
									<div class="c-number-input__button js-number-input-minus">–</div>
								</div>
							</div>
							<div>
								<button type="submit" class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовити</button>
							</div>
						</div>
					</div>
				</div>
				<div class="c-novelties__item__wrapper">
					<div class="c-novelties__item z-depth-3">
						<div class="c-novelties__img"></div>
						<div class="h-text-center h-ph-10">
							<div class="c-novelties__title">
								Назва товару
							</div>
							<div class="c-novelties__number">
								#4902002428
							</div>
							<div class="c-novelties__info">
								Короткий опис новинки, може бути в данному тексты в два рядки
							</div>
						</div>
						<div class="c-novelties__info__form">
							<div class="h-dflex h-mb-15 h-flex-space-between">
								<div class="c-novelties__info__price">
									150,00грн
								</div>
								<div class="c-number-input">
									<div class="c-number-input__button js-number-input-plus">+</div>
									<input class="c-number-input__input" type="text" value='1'>
									<div class="c-number-input__button js-number-input-minus">–</div>
								</div>
							</div>
							<div>
								<button type="submit" class="waves-effect waves-light btn-large h-width-100p z-depth-3">Замовити</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
