<ul class="c-sidebar-ul js-secondary-tabs">
	<li class="tab">
		<a href="#secondary-1">
			<i class="e_polka-accept"></i>
			<span>Замовлення</span>
		</a>
	</li>
	<li class="tab">
		<a href="#secondary-2">
			<i class="e_polka-star"></i>
			<span>Акції</span>
		</a>
	</li>
	<li class="tab">
		<a href="#secondary-3">
			<i class="e_polka-help"></i>
			<span>Новинки</span>
		</a>
	</li>
</ul>