<div>
	<form class="h-dflex" action="">
		<div class="no-border h-ph-15 h-width-100p z-depth-2 h-flex h-bg-white h-hflex h-font-14 h-main-gray">
			<div class="h-flex-center h-mr-20">
				<span class="h-mr-10">Номер декларації</span>
				<div>
					<input type="text" class="inpt" placeholder='#312312421'>
				</div>
			</div>

			<div class="h-flex-center">
				<div class="h-flex-center h-mr-20">
					<span class="h-mr-10">Від</span>
					<div>
						<input type="date" class="datepicker inpt">
					</div>
				</div>
				<div class="h-flex-center">
					<span class="h-mr-10">До</span>
					<div>
						<input type="date" class="datepicker inpt">
					</div>
				</div>
			</div>
		</div>
		<a href="order.html" type="submit" class="waves-effect waves-light btn-medium z-depth-2">
			<i class="e_polka-search"></i>
		</a>
	</form>
</div>
<div id="#report-secondary-1" class="c-order-table">
	<div class="z-depth-2 c-order-table__inner h-mt-20">
		<div class="c-order-table__head c-order-table__head--gray">
			<div class="c-order-table__head-item">
				Накладна №
			</div>
			<div class="c-order-table__head-item">
				Дата
			</div>
			<div class="c-order-table__head-item">
				Знижка, %
			</div>
			<div class="c-order-table__head-item">
				Кількість
			</div>
			<div class="c-order-table__head-item">
				Сумма
			</div>
		</div>
		<div class="h-pos-rel h-flex">
			<div class="tabs-overflow h-width-100p">
				<div class="c-order-table__body">
					<div class="c-order-table__body-item">
						31231234141212
					</div>
					<div class="c-order-table__body-item">
						03/10/12
					</div>
					<div class="c-order-table__body-item">
						5
					</div>
					<div class="c-order-table__body-item">
						<div class="c-order-table__inpt-wrapper">
							<input type="text" class="inpt" value='5'>
							<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
						</div>
					</div>
					<div class="c-order-table__body-item">
						800
					</div>
				</div>
				<div class="c-order-table__body">
					<div class="c-order-table__body-item">
						31231234141212
					</div>
					<div class="c-order-table__body-item">
						03/10/12
					</div>
					<div class="c-order-table__body-item">
						5
					</div>
					<div class="c-order-table__body-item">
						<div class="c-order-table__inpt-wrapper">
							<input type="text" class="inpt" value='5'>
							<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
						</div>
					</div>
					<div class="c-order-table__body-item">
						800
					</div>
				</div>
				<div class="c-order-table__body">
					<div class="c-order-table__body-item">
						31231234141212
					</div>
					<div class="c-order-table__body-item">
						03/10/12
					</div>
					<div class="c-order-table__body-item">
						5
					</div>
					<div class="c-order-table__body-item">
						<div class="c-order-table__inpt-wrapper">
							<input type="text" class="inpt" value='5'>
							<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
						</div>
					</div>
					<div class="c-order-table__body-item">
						800
					</div>
				</div>
				<div class="c-order-table__body">
					<div class="c-order-table__body-item">
						31231234141212
					</div>
					<div class="c-order-table__body-item">
						03/10/12
					</div>
					<div class="c-order-table__body-item">
						5
					</div>
					<div class="c-order-table__body-item">
						<div class="c-order-table__inpt-wrapper">
							<input type="text" class="inpt" value='5'>
							<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
						</div>
					</div>
					<div class="c-order-table__body-item">
						800
					</div>
				</div>
				<div class="c-order-table__body">
					<div class="c-order-table__body-item">
						31231234141212
					</div>
					<div class="c-order-table__body-item">
						03/10/12
					</div>
					<div class="c-order-table__body-item">
						5
					</div>
					<div class="c-order-table__body-item">
						<div class="c-order-table__inpt-wrapper">
							<input type="text" class="inpt" value='5'>
							<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
						</div>
					</div>
					<div class="c-order-table__body-item">
						800
					</div>
				</div>
				<div class="c-order-table__body">
					<div class="c-order-table__body-item">
						31231234141212
					</div>
					<div class="c-order-table__body-item">
						03/10/12
					</div>
					<div class="c-order-table__body-item">
						5
					</div>
					<div class="c-order-table__body-item">
						<div class="c-order-table__inpt-wrapper">
							<input type="text" class="inpt" value='5'>
							<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
						</div>
					</div>
					<div class="c-order-table__body-item">
						800
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="c-order-bottom-panel h-bg-white">
		<div>
			<ul class="c-order-bottom-panel__download-block">
				<li class="h-mr-10">
					<a href="#">
						<i class="e_polka-export"></i>
						<div>
							Експорт <br>в Excel
						</div>
					</a>
				</li>
				<li class="h-mr-10">
					<a href="#">
						<i class="e_polka-import"></i>
						<div>
							Имопрт<br>в Excel
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>