body
	&.menuOpen
		.c-burger
			transform: translate(230px,0)
			div
				background-color: color('clr-base','base')

				&:first-of-type
					transform: rotate(-45deg)
					width: 81%

				&:nth-of-type(2)
					opacity: 0

				&:last-of-type
					transform: rotate(45deg)
					width: 81%

.c-burger
	width: 25px
	height: 17px
	display: flex
	flex-direction: column
	flex-wrap: wrap
	justify-content: space-between
	cursor: pointer
	z-index: 6
	transition: transform 0.5s
	position: relative
	position: absolute
	left: 20px
	top: 32px

	&:hover
		div
			color: #fff !important

	div
		width: 100%
		width: 100%
		background-color: #fff
		height: 2px
		transition: transform .4s,opacity .4s,width .4s, color .4s

		&:first-of-type, &:last-of-type
			transform-origin: 100% 50%