.c-fixed-nav
	position: fixed
	left: 0
	top: 0
	background-color: $secondary-color
	z-index: 5
	width: 290px
	height: 100%
	transform: translate(-100%,0)
	transition: transform 0.4s

	.c-fixed-nav__ul
		width: 100%
		height: 100%
		display: flex
		align-items: center
		padding-top: 20%
		flex-direction: column

		li
			width: 100%
			padding: 20px 30px

			a
				font-size: 14px
				color: #fff
				font-weight: bold

				&:hover
					opacity: 0.9
					color: color('clr-base','base')

body
	&.menuOpen
		.content-wrapper
			&:before
				position: fixed
				left: 0
				top: 0
				width: 100%
				height: 100%
				background-color: rgba(0,0,0,0.5)
				z-index: 3
				content: ''
				-webkit-transform: translate3d(0,0,0)
				transform-style: preserve-3d

			.c-fixed-nav
				transform: translate(0,0)