.c-order-table
	width: 100%
	border-collapse: collapse
	flex: 1
	display: flex
	flex-direction: column

	.c-order-table__inner
		background-color: #fff
		flex: 1
		flex-direction: column
		display: flex

		@media (max-width: 1366px)
			font-size: 14px

			.c-order-table__head
				padding: 12px 7px

			.c-order-table__body-item
				padding: 3px 8px

	img
		max-height: 40px
		margin-left: 5px

	.c-order-table__head
		width: 100%
		background-color: color('clr-base', 'darken-1')
		padding: 15px 10px
		display: flex
		justify-content: space-between

		&.c-order-table__head--gray
			background-color: color('gray', 'lighten-4')
			border-bottom: 1px solid color("gray","accent-1")

			.c-order-table__head-item
				color: black

	.c-order-table__head-item
		text-align: center
		color: #fff
		border-radius: 0
		align-items: center
		display: flex
		justify-content: center
		flex: 1 0
		white-space: nowrap

	.c-order-table__body
		display: flex
		justify-content: space-between
		align-items: center
		background-color: #fff
		width: 100%

		&:not(:last-of-type)
			border-bottom: 1px solid color("gray","accent-1")

		&:hover
			background-color: color('clr-base', 'lighten-3')

		&:not(:hover)
			.inpt
				border-color: transparent

			.c-order-table__inpt__clear
				opacity: 0

	.c-order-table__body-item
		padding: 4px 10px
		height: 50px
		align-items: center
		display: flex
		justify-content: center
		flex: 1 0
		color: color('clr-base','darken-1')
		white-space: nowrap

		.c-order-table__inpt-wrapper
			width: 80px
			position: relative
		
		.inpt
			width: 100%
			text-align: center
			padding: 7px 15px 7px 7px
			color: color('clr-base',"darken-1")

		.c-order-table__inpt__clear
			position: absolute
			right: 5px
			top: 0
			display: flex
			align-items: center
			bottom: 0
			color: color('clr-base','darken-1')
			cursor: pointer

			&:hover
				color: black

	.c-order-bottom-panel__buttons
		display: flex
		border-top: 1px solid #D8D8D8
		padding-top: 20px
