.c-table-wrapper
	width: 100%
	display: flex
	position: relative
	flex-direction: column
	padding: 20px
	background-color: #E3E3E3
	flex: 1
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.11), 0 3px 1px -2px rgba(0, 0, 0, 0.15)