<div class="tabs-overflow" v-if="view === 'list'">
  <div class="c-novelties__wrapper" id="novelties-list">
    <div class="c-novelties__item__wrapper js-novelties-block-items" v-for="novelties in noveltiesData">
      <div class="c-novelties__item z-depth-3">
        <div class="c-novelties__img"></div>
        <div class="h-text-center h-ph-10">
          <div class="c-novelties__title">
            {{novelties.name}}
          </div>
          <div class="c-novelties__number">
            {{novelties.itemBarCode}}
          </div>
          <div class="c-novelties__info">
            {{novelties.brand}}
          </div>
        </div>
        <div class="c-novelties__info__form">
          <div class="h-dflex h-mb-15 h-flex-space-between">
            <div class="c-novelties__info__price">
              {{novelties.price }}
            </div>
            <div class="c-number-input">
              <div class="c-number-input__button js-number-input-plus h-no-select" @click="++novelties.order">+</div>
              <input class="c-number-input__input" v-bind:value="novelties.order" placeholder="0">
              <div class="c-number-input__button js-number-input-minus h-no-select" @click="novelties.order ? --novelties.order : 0">–</div>
            </div>
          </div>
          <div>
            <button type="submit" 
                class="waves-effect waves-light btn-large h-width-100p z-depth-3">
                Замовити
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tabs-overflow h-width-100p h-flex h-pos-rel h-vflex h-p-20 h-bg-light-gray z-depth-1" v-if="view === 'block'">
  <div class="c-order-table" id="novelties-block">
    <div class="z-depth-2 c-order-table__inner">
      <div class="c-order-table__head c-order-table__head--gray">
        <div class="c-order-table__head-item" v-on:click="orderBy('id', 'int')">
          #
        </div>
        <div class="c-order-table__head-item" v-on:click="orderBy('itemBarCode', 'int')">
          Штрих Код
        </div>
        <div class="c-order-table__head-item" v-on:click="orderBy('name', 'str')">
          Найменування
        </div>
        <div class="c-order-table__head-item" v-on:click="orderBy('category.name', 'str')">
          Категорія
        </div>
        <div class="c-order-table__head-item" v-on:click="orderBy('brand', 'str')">
          Бренд
        </div>
        <div class="c-order-table__head-item">
          Заказ
        </div>
        <div class="c-order-table__head-item">
          Ціна
        </div>
      </div>
      <div class="h-pos-rel h-flex">
        <div class="c-order-table__body js-novelties-list-items"
             v-for="novelties in noveltiesData">
          <div class="c-order-table__body-item">
            {{novelties.id}}
            <img src="img/item.png" />
          </div>
          <div class="c-order-table__body-item">
            {{novelties.itemBarCode}}
          </div>
          <div class="c-order-table__body-item">
            {{novelties.name}}
          </div>
          <div class="c-order-table__body-item">
            {{novelties.category.name}}
          </div>
          <div class="c-order-table__body-item">
            {{novelties.brand}}
          </div>
          <div class="c-order-table__body-item">
            <div class="c-order-table__inpt-wrapper">
              <input class="inpt" v-bind:value="novelties.order" placeholder="0">
              <i class="e_polka-close
                        c-order-table__inpt__clear
                        js_clear_input"
                        v-on:click="novelties.order = ''"
              ></i>
            </div>
          </div>
          <div class="c-order-table__body-item">
            {{novelties.price}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
