<ul class="c-sidebar-ul js-secondary-tabs">
	<li class="tab">
		<a href="#report-secondary-1">
			<i class="e_polka-help"></i>
			<span>Новинки</span>
		</a>
	</li>
</ul>

<ul class="c-filters js-filter-categories">
	<li class="c-filters-title">
		Категорії:
	</li>
	<li>
		<a href="#" class="c-filters__checkbox">
			<input type="checkbox" id="category-1" @change="chooseCategory($event)">
			<label for="category-1">
				Категорія 1
			</label>
		</a>
	</li>
	<li>
		<a href="#" class="c-filters__checkbox">
			<input type="checkbox" id="category-2" @change="chooseCategory($event)">
			<label for="category-2">
				Категорія 2
			</label>
		</a>
	</li>
	<li>
		<a href="#" class="c-filters__checkbox">
			<input type="checkbox" id="category-3" @change="chooseCategory($event)">
			<label for="category-3">
				Категорія 3
			</label>
		</a>
	</li>
	<li>
		<a href="#" class="c-filters__checkbox">
			<input type="checkbox" id="category-4" @change="chooseCategory($event)">
			<label for="category-4">
				Категорія 4
			</label>
		</a>
	</li>
	<li>
		<a href="#" class="c-filters__checkbox">
			<input type="checkbox" id="category-5" @change="chooseCategory($event)">
			<label for="category-5">
				Категорія 5
			</label>
		</a>
	</li>
</ul>

<ul class="c-filters js-filter-brands">
	<li class="c-filters-title">
		Бренди:
	</li>
	<li>
		<a href="#" class="c-filters__checkbox">
			<input type="checkbox" id="checkbox-1" @change="getData">
			<label for="checkbox-1">
				Бренд 1
			</label>
		</a>
	</li>
	<li>
		<a href="#" class="c-filters__checkbox">
			<input type="checkbox" id="checkbox-2" @change="getData">
			<label for="checkbox-2">
				Бренд 2
			</label>
		</a>
	</li>
	<li>
		<a href="#" class="c-filters__checkbox">
			<input type="checkbox" id="checkbox-3" @change="getData">
			<label for="checkbox-3">
				Бренд 3
			</label>
		</a>
	</li>
	<li>
		<a href="#" class="c-filters__checkbox">
			<input type="checkbox" id="checkbox-4" @change="getData">
			<label for="checkbox-4">
				Бренд 4
			</label>
		</a>
	</li>
	<li>
		<a href="#" class="c-filters__checkbox">
			<input type="checkbox" id="checkbox-5" @change="getData">
			<label for="checkbox-5">
				Бренд 5
			</label>
		</a>
	</li>
	<li>
		<a href="#" class="c-filters__checkbox">
			<input type="checkbox" id="checkbox-6" @change="getData">
			<label for="checkbox-6">
				Бренд 6
			</label>
		</a>
	</li>
</ul>
