.c-filters
	padding: 20px 30px
	border-bottom: 1px solid #DEDEDE

	&:first-of-type
		border-top: 1px solid #DEDEDE

	li
		margin: 10px 0

	.c-filters__link
		font-weight: bold
		position: relative

		&:hover
			&:after
				width: 0

		&:after
			transition: width 0.3s
			content: ""
			left: 0
			position: absolute
			bottom: 0
			width: 100%
			height: 1px
			background-color: black

	.c-filters__checkbox
		font-weight: bold

	.c-filters-title
		font-weight: bold
		font-size: 18px
		padding-bottom: 5px