.c-number-input
  display: flex
  border: 1px solid #E0E0E0
  height: 32px
  max-width: 130px

.c-number-input__input
  width: 32px
  border-left: 1px solid #E0E0E0
  border-right: 1px solid #E0E0E0
  border-top: none
  border-bottom: none
  text-align: center

.c-number-input__button
  flex: 0 0 30px
  align-items: center
  justify-content: center
  display: flex
  font-size: 16px
  font-weight: bold
  cursor: pointer

  &:hover
    color: black
