.c-info-layout
	width: 100%
	height: 100%
	background-color: #fff

.c-info-layout__text
	padding: 45px 120px

	h1
		font-size: 34px
		color: color("clr-sec", "base")
		font-weight: normal

.c-info-layout__ul
	margin: 55px 0

	.c-info-layout__li

		&:not(:first-of-type)
			border-top: 1px solid color("clr-sec", "base")
			margin-top: 60px

			&:before
				margin-top: 25px

		h2
			font-size: 26px
			color: color("clr-sec", "base")
			font-weight: normal
			margin-bottom: 15px

		&:before
			width: 50px
			height: 50px
			border: 1px solid color("clr-sec", "base")
			border-radius: 50%
			content: attr(data-index)
			display: block
			margin-bottom: 15px
			font-size: 28px
			color: color("clr-sec", "base")
			font-weight: normal
			display: flex
			align-items: center
			justify-content: center

.c-info-layot__aside_text
	font-size: 14px
	color: color('clr-base', 'darken-1')
	line-height: 22px

	p:not(:last-of-type)
		margin-bottom: 20px

.c-info-layot__alt-list-wrapper
	position: relative
	margin: 25px 0 50px 0
	padding: 20px 60px 0 60px

	.c-info-layot__alt-list
		display: flex
		flex-wrap: wrap

	li
		color: color("clr-sec", "base")
		font-size: 14px
		margin: 8px 0
		font-weight: normal
		list-style-type: decimal !important
		list-style-position: inside
		flex: 0 0 50%
		padding-left: 25px

	&:before
		content: ''
		width: 23px
		height: 2px
		position: absolute
		left: 0
		top: 0
		background-color: color("clr-sec", "base")
