.c-order-bottom-panel
	align-self: flex-end
	display: flex
	flex-direction: row
	width: 100%
	justify-content: space-between
	border-top: 1px solid color('gray','accent-1')
	padding: 20px

	.c-order-bottom-panel__download-block
		display: flex
		font-size: 12px

		i
			font-size: 25px
			margin-right: 7px
			margin-left: 5px
			color: color('gray', 'base')

		li a
			display: flex
			align-items: center
			color: color('gray', 'base')

	.c-order-bottom-panel__datepicker
		display: flex
		align-items: center

		i
			font-size: 25px
			color: color('gray', 'base')
			margin-right: 10px
