.c-items-view
	margin-left: auto
	border-left: 1px solid #E0E0E0
	align-items: flex-end
	padding: 3px 0 3px 20px
	display: flex

	i
		color: #878F9C
		font-size: 28px
		cursor: pointer
		transition: color .2s

		&:hover
			color: color('clr-base','base')