.c-novelties__wrapper
	display: flex
	flex-wrap: wrap

.c-novelties__item
	width: 100%
	background-color: #fff

.c-novelties__item__wrapper
	flex: 0 0 25%
	padding-left: 20px
	margin-bottom: 20px
	
	@media (min-width: 1360px)
		flex: 0 0 19.85%

	@media (max-width: 1200px)
		flex: 0 0 33%

	@media (max-width: 960px)
		flex: 0 0 50%

	@media (min-width: 1600px)
		flex: 0 0 16.5%


.c-novelties__img
	width: 100%
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	background-image: url(../img/no_image.png)

	&:after
		content: ''
		display: block
		padding-top: 60%

.c-novelties__title
	color: color('gray','darken-2')
	font-size: 18px
	font-weight: 600
	margin-top: 15px
	margin-bottom: 5px

.c-novelties__number
	font-size: 14px
	color: black
	margin-bottom: 5px

.c-novelties__info
	font-size: 14px
	color: color('gray','accent-2')
	margin-bottom: 6px
	height: 2.4em
	line-height: 1.2em
	overflow: hidden

.c-novelties__info__form
	padding: 20px
	border-top: 1px solid color('gray','lighten-2')

.c-novelties__info__price
	font-size: 18px
	color: color('clr-base','base')
	font-weight: 600
	margin-right: 20px
	display: flex
	align-items: center