.c-sidebar
	flex: 0 0 220px
	padding: 50px 0
	z-index: 2

	&.c-sidebar--info
	
		.c-sidebar-ul
			a.active:after
				width: 28px
				height: 28px
				background-color: #fff
				right: -14px

	.c-sidebar-ul
		a
			padding: 20px 30px
			display: flex
			align-items: center
			color: color("clr-base", "darken-1")
			font-weight: bold
			font-size: 16px
			position: relative

			&.active
				&:after
					content: ''
					width: 20px
					height: 20px
					transform: rotate(45deg)
					position: absolute
					right: -10px
					background-color: color('gray','lighten-3')
					box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.12), 0 1px 0px 0 rgba(0, 0, 0, 0.11), 0 3px 1px -2px rgba(0, 0, 0, 0.15)

			i
				margin-right: 10px
				font-size: 20px
				color: color("gray", "base")

				&.e_polka-accept
					font-size: 16px

