<div class="c-table-wrapper">
	<div>
		<form class="h-dflex" action="">
			<input class="no-border h-width-100p z-depth-2 inpt inpt-big h-mb-20" type="text" placeholder="Введіть назву або штрихкод">
			<a href="order.html" type="submit" class="waves-effect waves-light btn-medium z-depth-2">
				<i class="e_polka-search"></i>
			</a>
		</form>
	</div>
	<div class="c-order-table">
		<div class="z-depth-2 c-order-table__inner">
			<div class="c-order-table__head c-order-table__head--gray">
				<div class="c-order-table__head-item">
					#
				</div>
				<div class="c-order-table__head-item">
					Штрих Код
				</div>
				<div class="c-order-table__head-item">
					Найменування
				</div>
				<div class="c-order-table__head-item">
					Категорія
				</div>
				<div class="c-order-table__head-item">
					Бренд
				</div>
				<div class="c-order-table__head-item">
					Юніт
				</div>
				<div class="c-order-table__head-item">
					Кількість
				</div>
				<div class="c-order-table__head-item">
					Дія ціни
				</div>
				<div class="c-order-table__head-item">
					Ціна
				</div>
			</div>
			<div class="h-pos-rel h-flex">
				<div class="tabs-overflow">
					<div class="c-order-table__body">
						<div class="c-order-table__body-item">
							<span>
								<input type="checkbox" id="item1" />
								<label for="item1"></label>
							</span>
							23
						</div>
						<div class="c-order-table__body-item">
							#4902002428
						</div>
						<div class="c-order-table__body-item">
							Назва товару
						</div>
						<div class="c-order-table__body-item">
							Алкоголь
						</div>
						<div class="c-order-table__body-item">
							Martini
						</div>
						<div class="c-order-table__body-item">
							Пляшка
						</div>
						<div class="c-order-table__body-item">
							<div class="c-order-table__inpt-wrapper">
								<input type="text" class="inpt" value='100'>
								<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
							</div>
						</div>
						<div class="c-order-table__body-item">
							<div class="c-order-table__inpt-wrapper" value="21/05/2017">
								<input type="date" class="datepicker inpt">
							</div>
						</div>
						<div class="c-order-table__body-item">
							<div class="c-order-table__inpt-wrapper">
								<input type="text" class="inpt" value='800'>
								<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
							</div>
						</div>
					</div>
					<div class="c-order-table__body">
						<div class="c-order-table__body-item">
							<span>
								<input type="checkbox" id="item2" />
								<label for="item2"></label>
							</span>
							23
						</div>
						<div class="c-order-table__body-item">
							#4902002428
						</div>
						<div class="c-order-table__body-item">
							Назва товару
						</div>
						<div class="c-order-table__body-item">
							Алкоголь
						</div>
						<div class="c-order-table__body-item">
							Martini
						</div>
						<div class="c-order-table__body-item">
							Пляшка
						</div>
						<div class="c-order-table__body-item">
							<div class="c-order-table__inpt-wrapper">
								<input type="text" class="inpt" value='100'>
								<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
							</div>
						</div>
						<div class="c-order-table__body-item">
							<div class="c-order-table__inpt-wrapper">
								<input type="date" class="datepicker inpt">
							</div>
						</div>
						<div class="c-order-table__body-item">
							<div class="c-order-table__inpt-wrapper">
								<input type="text" class="inpt" value='800'>
								<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
							</div>
						</div>
					</div>
					<div class="c-order-table__body">
						<div class="c-order-table__body-item">
							<span>
								<input type="checkbox" id="item3" />
								<label for="item3"></label>
							</span>
							23
						</div>
						<div class="c-order-table__body-item">
							#4902002428
						</div>
						<div class="c-order-table__body-item">
							Назва товару
						</div>
						<div class="c-order-table__body-item">
							Алкоголь
						</div>
						<div class="c-order-table__body-item">
							Martini
						</div>
						<div class="c-order-table__body-item">
							Пляшка
						</div>
						<div class="c-order-table__body-item">
							<div class="c-order-table__inpt-wrapper">
								<input type="text" class="inpt" value='100'>
								<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
							</div>
						</div>
						<div class="c-order-table__body-item">
							<div class="c-order-table__inpt-wrapper">
								<input type="date" class="datepicker inpt">
							</div>
						</div>
						<div class="c-order-table__body-item">
							<div class="c-order-table__inpt-wrapper">
								<input type="text" class="inpt" value='800'>
								<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
							</div>
						</div>
					</div>
					<div class="c-order-table__body">
						<div class="c-order-table__body-item">
							<span>
								<input type="checkbox" id="item4" />
								<label for="item4"></label>
							</span>
							23
						</div>
						<div class="c-order-table__body-item">
							#4902002428
						</div>
						<div class="c-order-table__body-item">
							Назва товару
						</div>
						<div class="c-order-table__body-item">
							Алкоголь
						</div>
						<div class="c-order-table__body-item">
							Martini
						</div>
						<div class="c-order-table__body-item">
							Пляшка
						</div>
						<div class="c-order-table__body-item">
							<div class="c-order-table__inpt-wrapper">
								<input type="text" class="inpt" value='100'>
								<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
							</div>
						</div>
						<div class="c-order-table__body-item">
							<div class="c-order-table__inpt-wrapper">
								<input type="date" class="datepicker inpt">
							</div>
						</div>
						<div class="c-order-table__body-item">
							<div class="c-order-table__inpt-wrapper">
								<input type="text" class="inpt" value='800'>
								<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
							</div>
						</div>
					</div>
					<div class="c-order-table__body">
						<div class="c-order-table__body-item">
							<span>
								<input type="checkbox" id="item5" />
								<label for="item5"></label>
							</span>
							23
						</div>
						<div class="c-order-table__body-item">
							#4902002428
						</div>
						<div class="c-order-table__body-item">
							Назва товару
						</div>
						<div class="c-order-table__body-item">
							Алкоголь
						</div>
						<div class="c-order-table__body-item">
							Martini
						</div>
						<div class="c-order-table__body-item">
							Пляшка
						</div>
						<div class="c-order-table__body-item">
							<div class="c-order-table__inpt-wrapper">
								<input type="text" class="inpt" value='100'>
								<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
							</div>
						</div>
						<div class="c-order-table__body-item">
							<div class="c-order-table__inpt-wrapper">
								<input type="date" class="datepicker inpt">
							</div>
						</div>
						<div class="c-order-table__body-item">
							<div class="c-order-table__inpt-wrapper">
								<input type="text" class="inpt" value='800'>
								<i class="e_polka-close c-order-table__inpt__clear js_clear_input"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="c-order-bottom-panel h-bg-white">
			<div>
				<ul class="c-order-bottom-panel__download-block">
					<li class="h-mr-10">
						<a href="#">
							<i class="e_polka-export"></i>
							<div>
								Експорт <br>в Excel
							</div>
						</a>
					</li>
					<li class="h-mr-10">
						<a href="#">
							<i class="e_polka-import"></i>
							<div>
								Имопрт<br>в Excel
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>