<ul class="c-sidebar-ul js-secondary-tabs">
	<li class="tab">
		<a>
			<i class="e_polka-accept"></i>
			<span>Замовлення</span>
		</a>
	</li>
	<li class="tab">
		<a>
			<i class="e_polka-open-book"></i>
			<span>Журнал</span>
		</a>
	</li>
</ul>