$clr-base: (
  "base":       #0C0D28,
  "lighten-1":  #ea454b,
  "lighten-2":  #BBBDC1,
  "lighten-3":  #DFE2E8,
  "darken-1":   #374555,
  "darken-2":   #404040,
);

$red: (
  "base":       #F44336,
  "lighten-5":  #FFEBEE,
  "lighten-4":  #FFCDD2,
  "lighten-3":  #EF9A9A,
  "lighten-2":  #E57373,
  "lighten-1":  #EF5350,
  "darken-1":   #E53935,
  "darken-2":   #D32F2F,
  "darken-3":   #C62828,
  "darken-4":   #B71C1C,
  "accent-1":    #FF8A80,
  "accent-2":    #FF5252,
  "accent-3":    #FF1744,
  "accent-4":    #D50000
);

$light-blue: (
  "base":       #03a9f4,
  "lighten-5":  #e1f5fe,
  "lighten-4":  #7CE8CE,
  "lighten-3":  #81d4fa,
  "lighten-2":  #4fc3f7,
  "lighten-1":  #29b6f6,
  "darken-1":   #039be5,
  "darken-2":   #0288d1,
  "darken-3":   #0277bd,
  "darken-4":   #01579b,
  "accent-1":    #80d8ff,
  "accent-2":    #40c4ff,
  "accent-3":    #00b0ff,
  "accent-4":    #0091ea
);

$clr-sec: (
  "base":       #00D7A0,
  "lighten-1":  #7CE8CE,
  "darken-1":   #00897b,
  "accent-1":   #a7ffeb,
);

$gray: (
  "base":       #878F9C,
  "lighten-1":  #66BB6A,
  "lighten-2":  #F0F0F0,
  "lighten-3":  #E3E3E3,
  "lighten-4":  #E8EFFC,
  "lighten-5":  #EEEEEE,
  "darken-1":   #43A047,
  "darken-2":   #666666,
  "darken-3":   #262626,
  "accent-1":    #E0E0E0,
  "accent-2":    #757575,
);

$shades: (
  "black":        #000000,
  "white":        #FFFFFF,
  "transparent":  transparent
);

$colors: (
  "clr-base": $clr-base,
  "red": $red,
  "light-blue": $light-blue,
  "clr-sec": $clr-sec,
  "gray": $gray,
  "shades": $shades
) !default;


// Color Classes

@each $color_name, $color in $colors {
  @each $color_type, $color_value in $color {
    @if $color_type == "base" {
      .#{$color_name} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text {
        color: $color_value !important;
      }
    }
    @else if $color_name != "shades" {
      .#{$color_name}.#{$color_type} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text.text-#{$color_type} {
        color: $color_value !important;
      }
    }
  }
}

// Shade classes
@each $color, $color_value in $shades {
  .#{$color} {
    background-color: $color_value !important;
  }
  .#{$color}-text {
    color: $color_value !important;
  }
}


// usage: color("name_of_color", "type_of_color")
// to avoid to repeating map-get($colors, ...)

@function color($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  @warn "Unknown `#{name}` in $colors.";
  @return null;
}

.h-green-color {
	color: color('clr-sec','base');
}

.h-gray-color {
	color: color('gray','base');
}
