.inpt, .textarea, .select-wrapper input.select-dropdown
	outline: none
	border: none
	display: block
	border-radius: 2px
	padding: 10px 15px
	font-size: 16px
	border: 1px solid color("gray","accent-1")
	font-family: 'Roboto' !important

	&::-webkit-input-placeholder
		color: $placeholder-text-color

	&:-moz-placeholder
		color: $placeholder-text-color

	&::-moz-placeholder
		color: $placeholder-text-color

	&:-ms-input-placeholder
		color: $placeholder-text-color

	&.no-border
		border: none

.inpt-big
	height: 48px

.select
	outline: none
	border: none
	border-radius: 2px
	font-size: 14px

.textarea
	height: 140px

.file-field
	display: flex
	align-items: center
	justify-content: space-between
	width: 100%

.file-field__icon
	width: 70px
	display: flex
	align-items: center
	justify-content: center

.file-field__icon_wrapper
	width: 33px
	height: 33px
	display: block
	border-radius: 50%
	background-color: color("clr-sec","base")
	display: flex
	align-items: center
	justify-content: center