.tabs-overflow
	overflow-y: auto
	position: absolute
	height: 100%
	// border-bottom: 1px solid color('clr-base', 'lighten-2')

.b-tabs
	&.tabs-transparent
		background-color: transparent

		.tab a,
		.tab.disabled a,
		.tab.disabled a:hover
			color: rgba(255,255,255,0.7)

		.tab a:hover,
		.tab a.active
			color: #fff

		.indicator
			background-color: #fff

	&.tabs-fixed-width 
		display: flex
		.tab 
			flex-grow: 1

	position: relative
	overflow-x: auto
	overflow-y: hidden
	height: 76px
	width: 100%
	background-color: $tabs-bg-color
	margin: 0 auto
	white-space: nowrap
	display: flex

	.tab
		display: flex
		text-align: center
		height: 100%
		padding: 0
		margin: 0
		justify-content: center
		text-transform: uppercase
		flex: 1 0

		&:not(:last-of-type)
			a
				border-right: 1px solid color('clr-base', 'lighten-3')

		i
			font-size: 28px
			margin-right: 20px

			&.e_polka-basket
				font-size: 32px

		a
			&:hover
				transition: color 0.4s
				color: $tabs-text-color

			&.active
				background-color: color('gray', 'lighten-5')
				color: $tabs-text-color
				&:after
					position: absolute
					top: 0
					left: 0
					height: 5px
					content: ''
					width: 100%
					background-color: color('clr-base', 'base')

			color: rgba($tabs-text-color, .7)
			display: flex
			align-items: center
			justify-content: center
			width: 100%
			height: 100%
			padding: 0 24px
			font-size: 14px
			text-overflow: ellipsis
			overflow: hidden
			transition: color .28s ease
			position: relative

		&.disabled a,
		&.disabled a:hover 
			color: rgba($tabs-text-color, .7)
			cursor: default

	.indicator
		position: absolute
		top: 0
		height: 5px
		background-color: color("clr-sec", "base")
		will-change: left, right

@media #{$medium-and-down}
	.tabs
		display: flex
		.tab 
			flex-grow: 1
			a 
				padding: 0 12px
