.bx-wrapper
	position: relative
	padding: 0
	*zoom: 1
	touch-action: pan-y

.bx-wrapper img 
	max-width: 100%
	display: block

.bxslider 
	margin: 0
	padding: 0

ul.bxslider
	list-style: none

.bx-viewport 
	-webkit-transform: translatez(0)

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto 
	position: absolute
	bottom: -30px
	width: 100%

.bx-wrapper .bx-loading 
	min-height: 50px
	height: 100%
	width: 100%
	position: absolute
	top: 0
	left: 0
	z-index: 2000

.bx-wrapper .bx-pager 
	text-align: center
	font-size: .85em
	font-weight: bold
	color: #666
	padding-top: 20px

.bx-wrapper .bx-pager.bx-default-pager a 
	background: #666
	text-indent: -9999px
	display: block
	width: 10px
	height: 10px
	margin: 0 5px
	outline: 0
	border-radius: 5px

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus 
	background: #000

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item 
	display: inline-block
	vertical-align: bottom
	*zoom: 1
	*display: inline

.bx-wrapper .bx-pager-item 
	font-size: 0
	line-height: 0

.bx-wrapper .bx-controls-direction a.disabled 
	display: none

.bx-wrapper .bx-controls-auto 
	text-align: center

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus 
	background-position: -86px 0

.bx-wrapper .bx-controls-auto .bx-stop 
	display: block
	text-indent: -9999px
	width: 9px
	height: 11px
	outline: 0
	margin: 0 3px

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager 
	text-align: left
	width: 80%

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto 
	right: 0
	width: 35px

.bx-wrapper .bx-caption 
	position: absolute
	bottom: 0
	left: 0
	background: #666
	background: rgba(80, 80, 80, 0.75)
	width: 100%

.bx-wrapper .bx-caption span 
	color: #fff
	font-family: Arial
	display: block
	font-size: .85em
	padding: 10px

.owl-carousel
  width: 100%
  -webkit-tap-highlight-color: transparent
  position: relative
  z-index: 1

  .c-novelties__item__wrapper
  	padding-left: 10px
  	padding-right: 10px
  
  .owl-stage 
    position: relative
    -ms-touch-action: pan-Y
    -moz-backface-visibility: hidden
    padding-top: 10px
  .owl-stage:after 
    content: "."
    display: block
    clear: both
    visibility: hidden
    line-height: 0
    height: 0
  .owl-stage-outer
    position: relative
    overflow: hidden
    -webkit-transform: translate3d(0px, 0px, 0px)
  .owl-wrapper,
  .owl-item
    backface-visibility: hidden
    transform: translate3d(0, 0, 0)
  .owl-item
    position: relative
    min-height: 1px
    float: left
    -webkit-backface-visibility: hidden
    -webkit-tap-highlight-color: transparent
    -webkit-touch-callout: none
  .owl-item img
    display: block
    width: 100%
  .owl-nav.disabled,
  .owl-dots.disabled
    display: none
  .owl-nav .owl-prev,
  .owl-nav .owl-next
    position: absolute
    top: 0
    bottom: 0
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer

    i
      font-size: 30px

  .owl-prev
    left: -30px

  .owl-next
     right: -30px

  .owl-dot 
    cursor: pointer
    cursor: hand
    user-select: none
  .owl-loaded
    display: block
  .owl-loading
    opacity: 0
    display: block
  .owl-hidden
    opacity: 0
  .owl-refresh .owl-item
    visibility: hidden
  .owl-drag .owl-item
    user-select: none
  .owl-grab
    cursor: move
    cursor: grab
  .owl-rtl 
    direction: rtl
  .owl-rtl .owl-item 
    float: right

.no-js .owl-carousel
  display: block

.owl-carousel .animated
  animation-duration: 1000ms
  animation-fill-mode: both

.owl-carousel .owl-animated-in
  z-index: 0

.owl-carousel .owl-animated-out
  z-index: 1

.owl-carousel .fadeOut
  animation-name: fadeOut

@keyframes fadeOut
  0%
    opacity: 1
  100%
    opacity: 0

.owl-height
  transition: height 500ms ease-in-out;

.owl-carousel .owl-item .owl-lazy
  opacity: 0
  transition: opacity 400ms ease

.owl-carousel .owl-item img.owl-lazy
  transform-style: preserve-3d

.owl-carousel .owl-video-wrapper 
  position: relative
  height: 100%
  background: #000

.owl-carousel .owl-video-play-icon 
  position: absolute
  height: 80px
  width: 80px
  left: 50%
  top: 50%
  margin-left: -40px
  margin-top: -40px
  cursor: pointer
  z-index: 1
  -webkit-backface-visibility: hidden
  transition: transform 100ms ease

.owl-carousel .owl-video-play-icon:hover 
  transform: scale(1.3, 1.3)

.owl-carousel .owl-video-tn 
  opacity: 0
  height: 100%
  background-position: center center
  background-repeat: no-repeat
  background-size: contain
  transition: opacity 400ms ease

.owl-carousel .owl-video-frame 
  position: relative
  z-index: 1
  height: 100%
  width: 100%