<div id="secondary-1" class="c-info-layout__inner">
	<div class="h-flex">
		<div class="tabs-overflow js-scrollbar scrollbar-inner">
			<div class="c-info-layout__text">
				<h1>Оплата і доставка</h1>
				<div class="h-font-14 h-bold h-main-gray h-main h-mt-5">Умови</div>

				<ul class="c-info-layout__ul">
					<li class="c-info-layout__li" data-index="1">
						<h2>
							Умови оплати та деталі умови оплати
						</h2>
						<div class="c-info-layot__aside_text">
							<p>
								Success isn’t really that difficult. There is a significant portion of the population here in North America, that actually want and need success to be hard! Why? So they then have a built-in excuse when things don’t go their way! Pretty sad situation, to say the least.
							</p>

							<p>
								For those of you who are serious about having more, doing more, giving more and being more, success is achievable with some understanding of what to do, some discipline around planning and execution of those plans and belief that you can achieve your desires.
							</p>

							<p>
								The Truth About Success
							</p>

							<p>
								The first thing to remember about success is that it is a process – nothing more, nothing less. There is really no magic to it and it’s not reserved only for a select few people. As such, success really has nothing to do with luck, coincidence or fate. It really comes down to understanding the steps in the process and then executing on those steps.

							</p>
							<p>
								There are basically six key areas to higher achievement. Some people will tell you there are four while others may tell you there are eight. One thing for certain though, is that irrespective of the number of steps the experts talk about, they all originate from the same roots.
							</p>
						</div>

						<div class="c-info-layot__alt-list-wrapper">
							<div class="h-font-18 h-mb-25 h-sec">
								From my perspective then, here are the 12 key steps:
							</div>

							<ol class="c-info-layot__alt-list">
								<li>Making the decision</li>
								<li>Clarity – developing the Vision</li>
								<li>Focus – having a plan</li>
								<li>Commitment – understanding the price and having the willingness to pay that price</li>
								<li>Belief – believing in yourself and those around you</li>
								<li>Taking action – practice Ready, Fire, Aim…</li>
								<li>Focus – having a plan</li>
								<li>Clarity – developing the Vision</li>
								<li>Focus – having a plan</li>
								<li>Commitment – understanding the price and having the willingness to pay that price</li>
								<li>Belief – believing in yourself and those around you</li>
								<li>Taking action – practice Ready, Fire, Aim…</li>
							</ol>
						</div>

						<div class="c-info-layot__aside_text">
							<p>
								Making the Decision
							</p>

							<p>
								If success is a process with a number of defined steps, then it is just like any other process. So, what is the first step in any process?
							</p>

							<p>
								Making a decision to do something – this is the first step. We all know that nothing moves until someone makes a decision. The first action is always in making the decision to proceed. This is a fundamental step, which most people overlook.
							</p>

							<p>
								So, make the decision to move forward. Commit your decision to paper, just to bring it into focus. Then, go for it!
							</p>
							<p>
								Clarity
							</p>
						</div>
					</li>
					<li class="c-info-layout__li" data-index="2">
						<h2>
							Умови доставки та деталі умов
						</h2>
						<div class="c-info-layot__aside_text">
							<p>
								Success isn’t really that difficult. There is a significant portion of the population here in North America, that actually want and need success to be hard! Why? So they then have a built-in excuse when things don’t go their way! Pretty sad situation, to say the least.
							</p>

							<p>
								For those of you who are serious about having more, doing more, giving more and being more, success is achievable with some understanding of what to do, some discipline around planning and execution of those plans and belief that you can achieve your desires.
							</p>

							<p>
								The Truth About Success
							</p>

							<p>
								The first thing to remember about success is that it is a process – nothing more, nothing less. There is really no magic to it and it’s not reserved only for a select few people. As such, success really has nothing to do with luck, coincidence or fate. It really comes down to understanding the steps in the process and then executing on those steps.

							</p>
							<p>
								There are basically six key areas to higher achievement. Some people will tell you there are four while others may tell you there are eight. One thing for certain though, is that irrespective of the number of steps the experts talk about, they all originate from the same roots.
							</p>
						</div>

						<div class="c-info-layot__alt-list-wrapper">
							<div class="h-font-18 h-mb-25 h-sec">
								From my perspective then, here are the six key steps:
							</div>

							<ol class="c-info-layot__alt-list">
								<li>Making the decision</li>
								<li>Clarity – developing the Vision</li>
								<li>Focus – having a plan</li>
								<li>Commitment – understanding the price and having the willingness to pay that price</li>
								<li>Belief – believing in yourself and those around you</li>
								<li>Taking action – practice Ready, Fire, Aim…</li>
							</ol>
						</div>

						<div class="c-info-layot__aside_text">
							<p>
								Making the Decision
							</p>

							<p>
								If success is a process with a number of defined steps, then it is just like any other process. So, what is the first step in any process?
							</p>

							<p>
								Making a decision to do something – this is the first step. We all know that nothing moves until someone makes a decision. The first action is always in making the decision to proceed. This is a fundamental step, which most people overlook.
							</p>

							<p>
								So, make the decision to move forward. Commit your decision to paper, just to bring it into focus. Then, go for it!
							</p>
							<p>
								Clarity
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="secondary-2" class="c-order-table">
	<div class="h-pos-rel h-flex h-ml--20">
		<div class="tabs-overflow js-scrollbar scrollbar-inner">

		</div>
	</div>
</div>