<ul class="c-sidebar-ul js-secondary-tabs">
	<li class="tab">
		<a href="#secondary-1">
			<i class="e_polka-accept"></i>
			<span>Умови</span>
		</a>
	</li>
	<li class="tab">
		<a href="#secondary-2">
			<i class="e_polka-star"></i>
			<span>Оплата</span>
		</a>
	</li>
</ul>