.c-nav
	ul
		display: flex

	a
		text-decoration: underline

		&:hover
			text-decoration: none

	li:not(:first-of-type)
		margin-left: 32px
		position: relative

		&:before
			position: absolute
			top: 0
			left: -17px
			width: 1px
			height: 100%
			background-color: color("clr-base", "base")
			content: ''
