.c-tab-content
	padding: 30px 0 0 0
	color: #4A4A4A

	p
		&:not(:last-of-type)
			margin-bottom: 15px

.c-tabs
	position: relative

	&:after
		content: ''
		bottom: 0
		border-top: 1px solid color("gray", "base")
		left: 0
		right: 0
		opacity: 0.4
		position: absolute

	&.tabs-transparent 
		background-color: transparent
		.tab a,
		.tab.disabled a,
		.tab.disabled a:hover
			color: rgba(255,255,255,0.7)
		
		.tab a:hover,
		.tab a.active 
			color: #fff
		
		.indicator 
			background-color: #fff

	&.tabs-fixed-width 
		display: flex
		.tab 
			flex-grow: 1

	position: relative
	overflow-x: auto
	overflow-y: hidden
	height: 48px
	width: 100%
	margin: 0 auto
	white-space: nowrap

	.tab
		display: inline-block
		text-align: center
		line-height: 48px
		height: 48px
		padding: 0
		margin: 0
		text-transform: uppercase

		a
			&:hover,
			&.active 
				background-color: transparent
				color: color("clr-sec","base")

			color: color("gray", "base")
			display: block
			width: 100%
			height: 100%
			padding: 0 24px
			font-size: 14px
			text-overflow: ellipsis
			overflow: hidden
			transition: color .28s ease

		&.disabled a,
		&.disabled a:hover
			color: rgba(0,0,0, .7)
			cursor: default

	.indicator 
		position: absolute
		bottom: 0
		height: 2px
		background-color: color("clr-sec","base")
		will-change: left, right


@media #{$medium-and-down}
	.tabs
		display: flex
		.tab
			flex-grow: 1
			a
				padding: 0 12px