<div class="c-info-wrappper">
	<div class="h-dflex">
		<div class="c-item-image">
			
		</div>

		<div class="c-item-slider-wrapper js-item-slider">
			<div class="c-item-slide" style="background-image: url(https://redlinebeerwine.com/wp-content/uploads/2017/07/marlboro-red-500x500.jpg)"></div>
			<div class="c-item-slide" style="background-image: url(http://низкая-цена74.рф/files/content/2016/10/1475834270.jpg)"></div>
			<div class="c-item-slide" style="background-image: url(https://redlinebeerwine.com/wp-content/uploads/2017/07/marlboro-red-500x500.jpg)"></div>
			<div class="c-item-slide" style="background-image: url(http://низкая-цена74.рф/files/content/2016/10/1475834270.jpg)"></div>
			<div class="c-item-slide" style="background-image: url(https://redlinebeerwine.com/wp-content/uploads/2017/07/marlboro-red-500x500.jpg)"></div>
			<div class="c-item-slide" style="background-image: url(http://низкая-цена74.рф/files/content/2016/10/1475834270.jpg)"></div>
			<div class="c-item-slide" style="background-image: url(https://redlinebeerwine.com/wp-content/uploads/2017/07/marlboro-red-500x500.jpg)"></div>
			<div class="c-item-slide" style="background-image: url(http://низкая-цена74.рф/files/content/2016/10/1475834270.jpg)"></div>
			<div class="c-item-slide" style="background-image: url(https://redlinebeerwine.com/wp-content/uploads/2017/07/marlboro-red-500x500.jpg)"></div>
			<div class="c-item-slide" style="background-image: url(http://низкая-цена74.рф/files/content/2016/10/1475834270.jpg)"></div>
		</div>
	</div>
	<div class="c-main-overflow">
		<div class="c-main-info-wrapper js-scrollbar scrollbar-inner">
			<div class="c-main-info">
				<h1>
					Product name
				</h1>
				<h2 class="h-mt-5">
					Brand
				</h2>

				<div class="h-font-14 h-light-gray h-mv-10">
					Категорія: Тютюн та акоголь
				</div>

				<div class="c-main-info-code">
					#4902002428
				</div>

				<div class="c-main-info-date">
					Дата добавлення в нашу платформу: <b>5/06/2017</b>
				</div>
			</div>

			<div class="c-aside-info">
				<div class="h-mb-20">
					Мальборо Голд тут короткий опис і про бренд і про виробника два ти слова і далі буде перечінь тут для більшості товарів він тут:
				</div>

				<ul class="c-aside-info-list">
					<li>- Item weight: 0.5</li>
					<li>- Shelf Life: 36</li>
					<li>- Min Temperature: - 5</li>
					<li>- Max Temperature: 40</li>
					<li>- Упаковка 10шт</li>
					<li>- Cases per Layer: 5</li>
					<li>- Manufacturer Code: 123456789</li>
					<li>- Item Bar Code: 123456789</li>
					<li>- Case Bar Code: 987654321</li>


					<li>- Упаковка 10шт</li>
					<li>- Cases per Layer: 5</li>
					<li>- Manufacturer Code: 123456789</li>
					<li>- Item Bar Code: 123456789</li>
					<li>- Case Bar Code: 987654321</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="c-popup-close"></div>
</div>