.c-stock__wrapper
	display: flex
	flex-wrap: wrap

.c-stock__item
	width: 100%
	background-color: #fff

.c-stock__item__wrapper
	flex: 0 0 25%
	padding-left: 20px
	margin-bottom: 20px

	@media (min-width: 1360px)
		flex: 0 0 20%

	@media (max-width: 1200px)
		flex: 0 0 33%

	@media (max-width: 960px)
		flex: 0 0 50%

	@media (min-width: 1600px)
		flex: 0 0 16.6%

.c-stock__item__head
	padding: 10px 10px 10px 0px
	display: flex
	justify-content: space-between
	border-bottom: 1px solid #F0F0F0

.c-stock__item__image
	flex: 0 0 45%
	background-position: center
	background-size: cover
	background-repeat: no-repeat
	background-image: url(../img/no-img.jpg)

.c-stock__item__stock
	flex: 0 0 50%
	padding: 12px 15px
	text-align: center
	color: #fff
	background-color: color('gray','darken-3')

.c-stock__item__body
	padding: 10px 20px
	border-bottom: 1px solid #F0F0F0

.c-stock__item__title
	font-size: 18px
	color: #666666
	margin-bottom: 5px

.c-stock__item__time
	font-size: 15px
	color: #212121
	margin-top: 5px

.c-stock__item__aside
	font-size: 14px
	margin-top: 5px
	color: #757575